@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|Grenze+Gotisch|Trade+Winds|Open+Sans&display=swap');

/* Core Format*/
.charsheet {
	background-color: #CCCC99;
	background-image: url('https://raw.githubusercontent.com/ctotone/JdR/main/D%C3%A9dales/img/PJ_1.webp');
	width: 850px;
	height: 1275px;
}