@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|Grenze+Gotisch|Trade+Winds|Open+Sans&display=swap');

/* Core Format*/
.charsheet {
	background-color: #CCCC99;
	background-image: url('https://raw.githubusercontent.com/9thLevel/roll20/main/MazesScroll3.png');
	width: 642px;
	height: 950px;
}