.charsheet {
    --black: black;
    --white: #ffffffed;
    --grey: #737272d4;
    --orange: #c19685;
    --bleu: #8882a6;
    --text: "Oswald";
    --cursive: "Dancing Script", cursive;
    width: 920px;
    height: 670px;
    background-image: none;
    background-color: #7231000d;
    background-size: 880px 495px;
    background-repeat: no-repeat;
    font-family: var(--oswald);
    color: var(--black);
    font-size: 13px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 20px 15px 15px 1px #000000d1;
}

.sheet-darkmode .sheetform {
    background-color: #1F1F1F;
}


body.sheet-darkmode .charsheet {
    background-color: white;
    --black: #000000eb;
    --fond_carte: #939898ed;
    color: var(--black);
    box-shadow: 1px 1px 14px 1px #ff00006e;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
}

select.choix_carte {
    color: #8c8c8c76;
    font-size: 10px;
    width: 33px;
    height: 12px;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: transparent;
    border-radius: 0;
	outline: none;
}

select.choix_carte:hover {
    color: #8c8c8c;
}


/* Affichage des pages */

div.intro,
div.commune,
div.joueur,
div.commun_crime,
div.commun_tribune,
div.joueur_tribune,
div.commune_carte_input_lieu,
div.commune_carte_input_victime,
div.commune_carte_input_cause_deces,
div.commune_carte_input_indice_1,
div.commune_carte_input_indice_2,
div.commune_carte_input_indice_3,
div.commune_carte_input_suspect_1,
div.commune_carte_input_suspect_2,
div.commune_carte_input_suspect_3,
div.commune_carte_input_suspect_4,
div.commune_carte_input_suspect_5,
div.commune_carte_input_suspect_6 {
    display: none;
}

.charsheet .type_feuille[value="0"] ~ div.intro,
.charsheet .type_feuille[value="1"] ~ div.commune,
.charsheet .type_feuille[value="2"] ~ div.joueur,
.charsheet .page_commune[value="1"] ~ div.commun_crime,
.charsheet .page_commune[value="2"] ~ div.commun_tribune,
.charsheet .page_joueur[value="1"] ~ div.joueur_tribune,
.charsheet .config[value="1"] ~ div.commune_carte_input_lieu,
.charsheet .config[value="1"] ~ div.commune_carte_input_victime,
.charsheet .config[value="1"] ~ div.commune_carte_input_cause_deces,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_1,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_2,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_3,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_1,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_2,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_3,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_4,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_5,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_6 {
    display: block;
}


.charsheet button[type=action]::before {
	content: '';
}

.charsheet button[type=action].config {
    border: none;
    padding: 0;
    background: none;
    color: #00000021;
    font-size: 20px;
}

.charsheet button[type=action].config:hover{
    color: var(--black);
}


/* Structure générale intro */


/* Structure générale commune_crime */

.wrapper_crime {
    display: grid;
    grid-template-columns: 235px 20px 155px 20px 50px 195px 20px 195px 20px;
    grid-auto-rows: 12px;
    margin-top: 5px;
}

.commune_config {
    grid-column: 1;
    grid-row: 55;
    font-family: 'Pictos';
    font-size: 20px;
}

.commune_carte_lieu {
    grid-column: 1;
    grid-row: 1 / 7;
    width: 100px;
    height: 79px;
    margin-top: -10px;
    background-image: var(--carte_lieu);
    background-size: 100px 79px;
    background-repeat: no-repeat;
    transform: rotate(-10deg);
}

.commune_carte_victime {
    grid-column: 3;
    grid-row: 1 / 13;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    background-image: var(--carte_victime);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
}

.commune_carte_cause_deces {
    grid-column: 1;
    grid-row: 8 / 13;
    width: 50px;
    height: 50px;
    background-image: var(--carte_cause_deces);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -6px;
    transform: rotate(-10deg);
}

.commune_carte_indice_1 {
    grid-column: 6;
    grid-row: 1 / 7;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_1);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
}

.commune_carte_indice_2 {
    grid-column: 8;
    grid-row: 1 / 7;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_2);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
}

.commune_carte_indice_3 {
    grid-column: 6;
    grid-row: 8/13;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_3);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
}

.commune_carte_suspect_1 {
    grid-column: 3;
    grid-row: 20/26;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_1);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_carte_suspect_2 {
    grid-column: 3;
    grid-row: 34/40;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_2);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_carte_suspect_3 {
    grid-column: 3;
    grid-row: 48 / 54;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_3);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_carte_suspect_4 {
    grid-column: 8;
    grid-row: 20/26;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_4);
    background-size: 75px 75px;
    margin-left: 88px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_carte_suspect_5 {
    grid-column: 8;
    grid-row: 33 / 40;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_5);
    background-size: 75px 75px;
    margin-left: 88px;
    margin-top: 9px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_carte_suspect_6 {
    grid-column: 8;
    grid-row: 48/54;
    background-image: var(--carte_suspect_6);
    background-size: 65px 65px;
    margin-left: 88px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
}

.commune_lieu {
    grid-column: 1;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_lieu1_temp.png);
    background-size: 235px 72px;
}

.commune_victime {
    grid-column: 3;
    grid-row: 1 / 13;
    border: 2px solid var(--bleu);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_victime_temp.png);
    background-size: 155px 144px;
}

.commune_cause_deces {
    grid-column: 1;
    grid-row: 8/13;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_cause_deces_temp.png);
    background-size: 235px 60px;
}

.commune_habillage_1 {
    grid-column: 4;
    grid-row: 1 / 13;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_1_temp.png);
}

.commune_nom_suspect_1 {
    z-index: 1;
    grid-column: 3;
    grid-row: 14 / 19;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_1 {
    grid-column: 1/4;
    grid-row: 14/27;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_nom_suspect_2 {
    z-index: 1;
    grid-column: 3;
    grid-row: 28/33;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_2 {
    grid-column: 1/4;
    grid-row: 28/41;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_nom_suspect_3 {
    z-index: 1;
    grid-column: 3;
    grid-row: 42/47;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_3 {
    grid-column: 1/4;
    grid-row: 42/55;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_habillage_2 {
    grid-column: 4;
    grid-row: 14 / 55;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_2_temp.png);
}

.commune_habillage_central {
    grid-column: 5;
    grid-row: 1 / 55;
    background: grey;

}

.commune_indice_1 {
    grid-column: 6;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 20px 20px 20px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_court_temp.png);
    background-size: 195px 72px;
}

.commune_indice_2 {
    grid-column: 8;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_court_temp.png);
    background-size: 195px 72px;
}

.commune_indice_3 {
    grid-column: 6/9;
    grid-row: 8/13;
    border: 2px solid var(--bleu);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_long_temp.png);
    background-size: 410px 60px;
}

.commune_habillage_3 {
    grid-column: 9;
    grid-row: 1 / 13;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_1_temp.png);
}

.commune_nom_suspect_4 {
    z-index: 1;
    grid-column: 8;
    grid-row: 14/19;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_4 {
    grid-column: 6/9;
    grid-row: 14/27;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_nom_suspect_5 {
    z-index: 1;
    grid-column: 8;
    grid-row: 28/33;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_5 {
    grid-column: 6/9;
    grid-row: 28/41;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_nom_suspect_6 {
    z-index: 1;
    grid-column: 8;
    grid-row: 42/47;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect_temp.png);
    background-size: 155px 60px;
}

.commune_suspect_6 {
    grid-column: 6/9;
    grid-row: 42/55;
    border: 2px solid var(--orange);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large_temp.png);
    background-size: 410px 156px;
}

.commune_habillage_4 {
    grid-column: 9;
    grid-row: 14 / 55;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_2_temp.png);
    background-size: 155px 60px;
}

.commune_carte_input_lieu {
    grid-column: 1;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 96px;
}

.commune_carte_input_victime {
    grid-column: 3;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 36px;
}

.commune_carte_input_cause_deces {
    grid-column: 1;
    grid-row: 8;
    margin-top: -16px;
    margin-left: 45px;
}

.commune_carte_input_indice_1 {
    grid-column: 6;
    grid-row: 1;
    margin-right: 105px;
    margin-top: -18px;
    margin-left: 48px;
}

.commune_carte_input_indice_2 {
    grid-column: 8;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 48px;
}

.commune_carte_input_indice_3 {
    grid-column: 6;
    grid-row: 8;
    margin-top: -16px;
    margin-left: 48px;
}

.commune_carte_input_suspect_1 {
    z-index: 1;
    grid-column: 3;
    grid-row: 20;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_2 {
    z-index: 1;
    grid-column: 3;
    grid-row: 34;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_3 {
    z-index: 1;
    grid-column: 3;
    grid-row: 48;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_4 {
    z-index: 1;
    grid-column: 8;
    grid-row: 20;
    margin-top: -16px;
    margin-left: 163px;
}

.commune_carte_input_suspect_5 {
    z-index: 1;
    grid-column: 8;
    grid-row: 33;
    margin-top: -4px;
    margin-left: 163px;
}

.commune_carte_input_suspect_6 {
    z-index: 1;
    grid-column: 8;
    grid-row: 48;
    margin-top: -16px;
    margin-left: 163px;
}



/* Structure générale commune_tribune */

/* Structure générale joueur_tribune */

/* Systeme de carte dynamique */

.charsheet .carte_lieu[value="0"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="1"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="2"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="3"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="4"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="5"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_lieu[value="6"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_temp.png);
}

.charsheet .carte_victime[value="0"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="1"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="2"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="3"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="4"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="5"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="6"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="7"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="8"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="9"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="10"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="11"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="12"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="13"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="14"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_victime[value="15"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_victime_temp.png);
}

.charsheet .carte_cause_deces[value="0"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="1"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="2"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="3"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="4"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="5"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="6"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="7"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_cause_deces[value="8"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_temp.png);
}

.charsheet .carte_indice_1[value="0"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="1"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="2"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="3"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="4"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="5"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="6"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="7"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="8"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="9"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="10"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="11"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="12"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="13"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="14"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="15"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_1[value="16"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="0"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="1"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="2"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="3"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="4"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="5"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="6"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="7"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="8"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="9"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="10"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="11"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="12"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="13"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="14"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="15"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_2[value="16"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="0"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="1"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="2"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="3"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="4"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="5"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="6"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="7"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="8"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="9"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="10"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="11"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="12"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="13"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="14"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="15"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_indice_3[value="16"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indice_temp.png);
}

.charsheet .carte_suspect_1[value="0"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="1"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="2"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="3"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="4"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="5"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="6"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="7"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="8"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="9"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="10"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="11"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="12"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="13"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="14"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="15"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="0"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="1"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="2"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="3"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="4"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="5"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="6"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="7"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="8"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="9"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="10"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="11"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="12"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="13"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="14"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_1[value="15"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="0"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="1"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="2"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="3"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="4"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="5"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="6"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="7"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="8"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="9"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="10"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="11"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="12"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="13"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="14"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_2[value="15"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="0"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="1"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="2"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="3"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="4"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="5"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="6"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="7"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="8"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="9"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="10"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="11"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="12"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="13"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="14"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_3[value="15"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="0"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="1"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="2"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="3"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="4"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="5"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="6"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="7"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="8"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="9"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="10"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="11"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="12"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="13"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="14"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_4[value="15"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="0"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="1"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="2"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="3"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="4"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="5"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="6"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="7"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="8"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="9"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="10"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="11"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="12"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="13"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="14"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_5[value="15"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="0"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="1"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="2"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="3"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="4"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="5"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="6"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="7"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="8"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="9"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="10"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="11"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="12"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="13"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="14"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

.charsheet .carte_suspect_6[value="15"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_protagoniste_temp.png);
}

