@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* font-family: "Caveat", cursive; */




.charsheet {
    --black: black;
    --white: #ffffffed;
    --grey: #737272d4;
    --orange: #c19685;
    --rouge: #cd1619;
    --bleu: #273583;
    --text: "Oswald";
    --cursive: "Caveat", cursive;
    width: 920px;
    height: 670px;
    font-family: var(--cursive);
    color: var(--black);
    font-size: 13px;
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding-top: 20px !important;
    box-shadow: 20px 15px 15px 1px #000000d1;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/background_feuille.png);
    background-size: 950px 660px;
    background-repeat: no-repeat;
    background-position: right 21% bottom 0%;
    border: 1px solid;
}

.sheet-darkmode .sheetform {
    background-color: #1F1F1F;
}

body.sheet-darkmode .charsheet {
    background-color: white;
    --black: #000000eb;
    --fond_carte: #939898ed;
    color: var(--black);
    box-shadow: 1px 1px 14px 1px #ff00006e;
}

.shadow {
    filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.712));
    display: block;
    width: 1px;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
}

select.choix_carte {
    color: #000000d1;
    font-size: 14px;
    width: auto;
    height: 18px;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: transparent;
    border-radius: 0;
    outline: none;
}



/* Affichage des pages */

div.intro,
div.commune,
div.joueur,
div.commun_crime,
div.commun_tribune,
div.joueur_tribune,
div.commune_carte_input_lieu,
div.commune_carte_input_victime,
div.commune_carte_input_cause_deces,
div.commune_carte_input_indice_1,
div.commune_carte_input_indice_2,
div.commune_carte_input_indice_3,
div.commune_carte_input_suspect_1,
div.commune_carte_input_suspect_2,
div.commune_carte_input_suspect_3,
div.commune_carte_input_suspect_4,
div.commune_carte_input_suspect_5,
div.commune_carte_input_suspect_6 {
    display: none;
}

.charsheet .type_feuille[value="0"] ~ div.intro,
.charsheet .type_feuille[value="1"] ~ div.commune,
.charsheet .type_feuille[value="2"] ~ div.joueur,
.charsheet .page_commune[value="1"] ~ div.commun_crime,
.charsheet .page_commune[value="2"] ~ div.commun_tribune,
.charsheet .page_joueur[value="1"] ~ div.joueur_tribune,
.charsheet .config[value="1"] ~ div.commune_carte_input_lieu,
.charsheet .config[value="1"] ~ div.commune_carte_input_victime,
.charsheet .config[value="1"] ~ div.commune_carte_input_cause_deces,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_1,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_2,
.charsheet .config[value="1"] ~ div.commune_carte_input_indice_3,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_1,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_2,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_3,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_4,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_5,
.charsheet .config[value="1"] ~ div.commune_carte_input_suspect_6 {
    display: block;
}

.charsheet button[type=action]::before {
	content: '';
}

.charsheet button[type=action].config {
    border: none;
    padding: 0;
    background: none;
    color: #00000021;
    font-size: 20px;
}

.charsheet button[type=action].config:hover{
    color: var(--black);
}

.charsheet button[type=action].onglet_page {
    border: 1px solid #000000d9;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background: #f5f5f5;
    color: var(--black);
    font-size: 14px;
}

.charsheet button[type=action].onglet_page:hover{
    padding-left: 6px;
}

.charsheet textarea.lieu,
.charsheet textarea.victime,
.charsheet textarea.cause_deces,
.charsheet textarea.suspect,
.charsheet textarea.donnee_indice_1,
.charsheet textarea.donnee_indice_2,
.charsheet textarea.donnee_nom_suspect {
    border: none;
    outline: none;
    resize: none;
    padding: 0px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0px;
    color: var(--noir);
    background: transparent;
    line-height: 21px;
    font-family: var(--font_amiri);
    overflow: hidden;
}

.charsheet textarea.lieu {
    height: 65px;
    width: 120px;
    margin-left: 108px;
    align-content: center;
}

.charsheet textarea.victime {
    height: 100px;
    width: 139px;
    margin-top: 5px;
    margin-left: 8px;
    line-height: 20px;
    align-content: center;
    text-indent: 50px;
}

.charsheet textarea.cause_deces {
    height: 55px;
    width: 164px;
    padding-top: 1px;
    margin-left: 58px;
    line-height: 18px;
    align-content: center;
}

.charsheet textarea.suspect {
    width: 225px;
    height: 68px;
    margin-left: 5px;
    padding-top: 7px;
    text-indent: 20px;
}

.charsheet textarea.donnee_indice_1 {
    height: 65px;
    width: 126px;
    margin-left: 51px;
    align-content: center;
    text-indent: 5px;
}

.charsheet textarea.donnee_indice_2 {
    height: 50px;
    width: 338px;
    margin-left: 58px;
    line-height: 24px;
    padding-top: 3px;
    align-content: center;
    text-indent: 5px;
}

.charsheet textarea.donnee_nom_suspect {
    height: 41px;
    width: 108px;
    margin-left: 34px;
    margin-top: 7px;
    padding-top: 3px;
    line-height: 18px;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
}

/* Structure générale intro */


/* Structure générale commune_crime */

.wrapper_crime {
    display: grid;
    grid-template-columns: 235px 20px 155px 20px 50px 195px 20px 195px 20px;
    grid-auto-rows: 12px;
    margin-top: 5px;
}

.commune_onglet_crime_choix,
.commune_onglet_crime {
    grid-column: 1;
    grid-row: 1;
    width: 130px;
    height: 25px;
    margin-top: -51px;
    margin-left: 21px;
    background: #c14547;
    border-radius: 10px 16px 0px 0px;
    border: 1px solid var(--bleu);
    border-bottom: none;
    flex-wrap: wrap;
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.commune_onglet_crime_choix {
    background: var(--rouge);
}

.commune_onglet_tribune_choix,
.commune_onglet_tribune {
    grid-column: 1;
    grid-row: 1;
    width: 130px;
    height: 25px;
    margin-top: -51px;
    margin-left: 135px;
    background: #4d537a;
    border-radius: 10px 16px 0px 0px;
    border: 1px solid var(--bleu);
    border-bottom: none;
    flex-wrap: wrap;
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.commune_onglet_tribune_choix {
    background: var(--bleu);
}

div.commune_onglet_tribune_choix,
div.commune_onglet_tribune,
div.commune_onglet_crime_choix,
div.commune_onglet_crime {
    display: none;
}

.charsheet .page[value="1"] ~ div.commune_onglet_crime_choix,
.charsheet .page[value="1"] ~ div.commune_onglet_tribune,
.charsheet .page[value="2"] ~ div.commune_onglet_crime,
.charsheet .page[value="2"] ~ div.commune_onglet_tribune_choix {
    display: block;
}


.commune_onglet_xcard {
    grid-column: 1;
    grid-row: 1;
    width: 90px;
    height: 25px;
    margin-top: -51px;
    margin-left: 249px;
    background: #737272;
    border-radius: 10px 16px 0px 0px;
    border: 1px solid var(--bleu);
    border-bottom: none;
    flex-wrap: wrap;
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.commune_config {
    grid-column: 1;
    grid-row: 55;
    font-family: 'Pictos';
    font-size: 20px;
}

.commune_config {
    grid-column: 1;
    grid-row: 55;
    font-family: 'Pictos';
    font-size: 20px;
}

.commune_carte_lieu {
    grid-column: 1;
    grid-row: 1 / 7;
    width: 100px;
    height: 79px;
    margin-top: -10px;
    background-image: var(--carte_lieu);
    background-size: 100px 79px;
    background-repeat: no-repeat;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 15px;
}

.commune_carte_victime {
    grid-column: 3;
    grid-row: 1 / 13;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    background-image: var(--carte_victime);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_cause_deces {
    grid-column: 1;
    grid-row: 8 / 13;
    width: 50px;
    height: 50px;
    background-image: var(--carte_cause_deces);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -6px;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_indice_1 {
    grid-column: 6;
    grid-row: 1 / 7;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_1);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_indice_2 {
    grid-column: 8;
    grid-row: 1 / 7;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_2);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_indice_3 {
    grid-column: 6;
    grid-row: 8/13;
    height: 50px;
    width: 50px;
    background-image: var(--carte_indice_3);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-top: -10px;
    transform: rotate(-10deg);
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_1 {
    grid-column: 3;
    grid-row: 20;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_1);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_2 {
    grid-column: 3;
    grid-row: 34;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_2);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_3 {
    grid-column: 3;
    grid-row: 48;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_3);
    background-size: 75px 75px;
    margin-left: 48px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_4 {
    grid-column: 8;
    grid-row: 20;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_4);
    background-size: 75px 75px;
    margin-left: 88px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_5 {
    grid-column: 8;
    grid-row: 34;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_6);
    background-size: 75px 75px;
    margin-left: 88px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_carte_suspect_6 {
    grid-column: 8;
    grid-row: 48;
    width: 75px;
    height: 75px;
    background-image: var(--carte_suspect_6);
    background-size: 75px 75px;
    margin-left: 88px;
    margin-top: -4px;
    transform: rotate(-5deg);
    background-repeat: no-repeat;
    box-shadow: 4px 4px 7px 1px #000000c4;
    border-radius: 5px;
}

.commune_trombone {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    width: 21px;
    height: 56px;
    margin-top: -30px;
    margin-left: 10px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/trombone.png);
    background-size: 21px 56px;
    transform: rotate(-10deg);
}

.commune_lieu {
    grid-column: 1;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_lieu.png);
    background-size: 235px 72px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_victime {
    grid-column: 3;
    grid-row: 1 / 13;
    border: 2px solid var(--bleu);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_victime.png);
    background-size: 155px 144px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_cause_deces {
    grid-column: 1;
    grid-row: 8/13;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_cause_deces.png);
    background-size: 235px 60px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_habillage_1 {
    grid-column: 4;
    grid-row: 1 / 13;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_court.png);
    background-size: 20px 144px;
}

.commune_nom_suspect_1 {
    z-index: 1;
    grid-column: 3;
    grid-row: 14 / 19;
    margin-top: 5px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_1 {
    grid-column: 1/4;
    grid-row: 14/27;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_nom_suspect_2 {
    z-index: 1;
    grid-column: 3;
    grid-row: 28/33;
    margin-top: 5px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_2 {
    grid-column: 1/4;
    grid-row: 28/41;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_nom_suspect_3 {
    z-index: 1;
    grid-column: 3;
    grid-row: 42/47;
    margin-top: 5px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_3 {
    grid-column: 1/4;
    grid-row: 42/55;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_habillage_2 {
    z-index: 5;
    grid-column: 3;
    grid-row: 14 / 55;
    width: 42px;
    height: 492px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_long.png);
    background-size: 42px 492px;
    margin-left: 146px;
}

.commune_habillage_central {
    grid-column: 5;
    grid-row: 1 / 55;
    background: grey;

}

.commune_indice_1 {
    grid-column: 6;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 20px 20px 20px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_court.png);
    background-size: 195px 72px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_indice_2 {
    grid-column: 8;
    grid-row: 1 / 7;
    border: 2px solid var(--bleu);
    border-radius: 15px 0px 0px 15px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_court.png);
    background-size: 195px 72px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_indice_3 {
    grid-column: 6/9;
    grid-row: 8/13;
    border: 2px solid var(--bleu);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_indice_long.png);
    background-size: 410px 60px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_habillage_3 {
    grid-column: 9;
    grid-row: 1 / 13;
    background: grey;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_court.png);
    background-size: 20px 144px;
}

.commune_nom_suspect_4 {
    z-index: 1;
    grid-column: 8;
    grid-row: 14/19;
    margin-top: 5px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_4 {
    grid-column: 6/9;
    grid-row: 14/27;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_nom_suspect_5 {
    z-index: 1;
    grid-column: 8;
    grid-row: 28/33;
    margin-top: 5px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_5 {
    grid-column: 6/9;
    grid-row: 28/41;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_nom_suspect_6 {
    z-index: 1;
    grid-column: 8;
    grid-row: 42/47;
    margin-top: 5px;
    margin-left: 40px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_cadre_texte_nom_suspect.png);
    background-size: 155px 60px;
    box-shadow: 0px 2px 7px 0px #00000069;
    background-color: #ececec;
}

.commune_suspect_6 {
    grid-column: 6/9;
    grid-row: 42/55;
    border: 2px solid var(--rouge);
    border-radius: 20px 0px 0px 20px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_fond_texte_large.png);
    background-size: 410px 156px;
    box-shadow: 3px 3px 7px 0px #00000069;
}

.commune_habillage_4 {
    z-index: 5;
    grid-column: 8;
    grid-row: 14 / 55;
    width: 42px;
    height: 492px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/commune_habillage_long.png);
    background-size: 42px 492px;
    margin-left: 186px;
}

.commune_carte_input_lieu {
    grid-column: 1;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 96px;
}

.commune_carte_input_victime {
    grid-column: 3;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 36px;
}

.commune_carte_input_cause_deces {
    grid-column: 1;
    grid-row: 8;
    margin-top: -16px;
    margin-left: 45px;
}

.commune_carte_input_indice_1 {
    grid-column: 6;
    grid-row: 1;
    margin-right: 105px;
    margin-top: -18px;
    margin-left: 48px;
}

.commune_carte_input_indice_2 {
    grid-column: 8;
    grid-row: 1;
    margin-top: -18px;
    margin-left: 48px;
}

.commune_carte_input_indice_3 {
    grid-column: 6;
    grid-row: 8;
    margin-top: -16px;
    margin-left: 48px;
}

.commune_carte_input_suspect_1 {
    z-index: 1;
    grid-column: 3;
    grid-row: 20;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_2 {
    z-index: 1;
    grid-column: 3;
    grid-row: 34;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_3 {
    z-index: 1;
    grid-column: 3;
    grid-row: 48;
    margin-top: -16px;
    margin-left: 122px;
}

.commune_carte_input_suspect_4 {
    z-index: 1;
    grid-column: 8;
    grid-row: 20;
    margin-top: -16px;
    margin-left: 163px;
}

.commune_carte_input_suspect_5 {
    z-index: 1;
    grid-column: 8;
    grid-row: 33;
    margin-top: -4px;
    margin-left: 163px;
}

.commune_carte_input_suspect_6 {
    z-index: 1;
    grid-column: 8;
    grid-row: 48;
    margin-top: -16px;
    margin-left: 163px;
}

/* Structure générale commune_tribune */

.commune_tribune_1,
.commune_tribune_2,
.commune_tribune_3,
.commune_tribune_4,
.commune_tribune_5,
.commune_tribune_6 {
    width: 390px;
    height: 239px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/tribune_cadre_background.png);
    background-size: 390px 239px;
    box-shadow: 1px 1px 10px 7px #00000096;

}
.commune_tribune_1 {
    z-index: 5;
    grid-column: 1;
    grid-row: 3;
    margin-left: 10px;
    transform: rotate(5deg);
}

.commune_tribune_2 {
    z-index: 6;
    grid-column: 1;
    grid-row: 22;
    margin-left: 10px;
    transform: rotate(11deg);
}

.commune_tribune_3 {
    z-index: 7;
    grid-column: 1;
    grid-row: 39;
    margin-left: 50px;
    transform: rotate(-5deg);
}

.commune_tribune_4 {
    z-index: 5;
    grid-column: 5;
    grid-row: 3;
    margin-left: 28px;
    transform: rotate(-14deg);
}

.commune_tribune_5 {
    z-index: 5;
    grid-column: 6;
    grid-row: 21;
    margin-left: -10px;
    transform: rotate(-5deg);
}

.commune_tribune_6 {
    z-index: 7;
    grid-column: 5;
    grid-row: 39;
    margin-left: 20px;
    transform: rotate(14deg);
}

/* Structure générale joueur_tribune */

/* Roll template */
.sheet-rolltemplate-xcard {
    margin-left: -10px;
  }

.sheet-rolltemplate-xcard .sheet-xcard {
    width: 240px;
    height: 240px;
    background-image: url();
    background-size: 240px 240px;
}
/* Systeme de carte dynamique */

.charsheet .carte_lieu[value="0"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_vierge.png);
}

.charsheet .carte_lieu[value="1"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_A.png);
}

.charsheet .carte_lieu[value="2"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_B.png);
}

.charsheet .carte_lieu[value="3"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_C.png);
}

.charsheet .carte_lieu[value="4"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_D.png);
}

.charsheet .carte_lieu[value="5"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_E.png);
}

.charsheet .carte_lieu[value="6"] ~ *{
    --carte_lieu : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_lieu_F.png);
}

.charsheet .carte_victime[value="0"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_victime[value="1"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_victime[value="2"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_victime[value="3"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_victime[value="4"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_victime[value="5"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_victime[value="6"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_victime[value="7"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_victime[value="8"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_victime[value="9"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_victime[value="10"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_victime[value="11"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_victime[value="12"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_victime[value="13"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_victime[value="14"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_victime[value="15"] ~ *{
    --carte_victime : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

.charsheet .carte_cause_deces[value="0"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_vierge.png);
}

.charsheet .carte_cause_deces[value="1"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_arme_blanche.png);
}

.charsheet .carte_cause_deces[value="2"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_chute.png);
}

.charsheet .carte_cause_deces[value="3"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_en_voiture.png);
}

.charsheet .carte_cause_deces[value="4"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_par_balle.png);
}

.charsheet .carte_cause_deces[value="5"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_pendaison.png);
}

.charsheet .carte_cause_deces[value="6"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_poison.png);
}

.charsheet .carte_cause_deces[value="7"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_strangulation.png);
}

.charsheet .carte_cause_deces[value="8"] ~ *{
    --carte_cause_deces : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_cause_deces_z_custom.png);
}

.charsheet .carte_indice_1[value="0"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_vierge.png);
}

.charsheet .carte_indice_1[value="1"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_A.png);
}

.charsheet .carte_indice_1[value="2"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_B.png);
}

.charsheet .carte_indice_1[value="3"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_C.png);
}

.charsheet .carte_indice_1[value="4"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_D.png);
}

.charsheet .carte_indice_1[value="5"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_E.png);
}

.charsheet .carte_indice_1[value="6"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_F.png);
}

.charsheet .carte_indice_1[value="7"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_G.png);
}

.charsheet .carte_indice_1[value="8"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_H.png);
}

.charsheet .carte_indice_1[value="9"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_I.png);
}

.charsheet .carte_indice_1[value="10"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_J.png);
}

.charsheet .carte_indice_1[value="11"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_K.png);
}

.charsheet .carte_indice_1[value="12"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_L.png);
}

.charsheet .carte_indice_1[value="13"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_M.png);
}

.charsheet .carte_indice_1[value="14"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_N.png);
}

.charsheet .carte_indice_1[value="15"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_O.png);
}

.charsheet .carte_indice_1[value="16"] ~ *{
    --carte_indice_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_custom.png);
}

.charsheet .carte_indice_2[value="0"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_vierge.png);
}

.charsheet .carte_indice_2[value="1"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_A.png);
}

.charsheet .carte_indice_2[value="2"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_B.png);
}

.charsheet .carte_indice_2[value="3"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_C.png);
}

.charsheet .carte_indice_2[value="4"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_D.png);
}

.charsheet .carte_indice_2[value="5"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_E.png);
}

.charsheet .carte_indice_2[value="6"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_F.png);
}

.charsheet .carte_indice_2[value="7"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_G.png);
}

.charsheet .carte_indice_2[value="8"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_H.png);
}

.charsheet .carte_indice_2[value="9"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_I.png);
}

.charsheet .carte_indice_2[value="10"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_J.png);
}

.charsheet .carte_indice_2[value="11"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_K.png);
}

.charsheet .carte_indice_2[value="12"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_L.png);
}

.charsheet .carte_indice_2[value="13"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_M.png);
}

.charsheet .carte_indice_2[value="14"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_N.png);
}

.charsheet .carte_indice_2[value="15"] ~ *{
    --carte_indice_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_O.png);
}

.charsheet .carte_indice_3[value="16"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_custom.png);
}

.charsheet .carte_indice_3[value="0"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_vierge.png);
}

.charsheet .carte_indice_3[value="1"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_A.png);
}

.charsheet .carte_indice_3[value="2"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_B.png);
}

.charsheet .carte_indice_3[value="3"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_C.png);
}

.charsheet .carte_indice_3[value="4"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_D.png);
}

.charsheet .carte_indice_3[value="5"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_E.png);
}

.charsheet .carte_indice_3[value="6"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_F.png);
}

.charsheet .carte_indice_3[value="7"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_G.png);
}

.charsheet .carte_indice_3[value="8"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_H.png);
}

.charsheet .carte_indice_3[value="9"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_I.png);
}

.charsheet .carte_indice_3[value="10"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_J.png);
}

.charsheet .carte_indice_3[value="11"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_K.png);
}

.charsheet .carte_indice_3[value="12"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_L.png);
}

.charsheet .carte_indice_3[value="13"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_M.png);
}

.charsheet .carte_indice_3[value="14"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_N.png);
}

.charsheet .carte_indice_3[value="15"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_O.png);
}

.charsheet .carte_indice_3[value="16"] ~ *{
    --carte_indice_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_indices_custom.png);
}

.charsheet .carte_suspect_1[value="0"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_1[value="1"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_1[value="2"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_1[value="3"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_1[value="4"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_1[value="5"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_1[value="6"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_1[value="7"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_1[value="8"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_1[value="9"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_1[value="10"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_1[value="11"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_1[value="12"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_1[value="13"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_1[value="14"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_1[value="15"] ~ *{
    --carte_suspect_1 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}


.charsheet .carte_suspect_2[value="0"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_2[value="1"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_2[value="2"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_2[value="3"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_2[value="4"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_2[value="5"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_2[value="6"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_2[value="7"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_2[value="8"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_2[value="9"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_2[value="10"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_2[value="11"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_2[value="12"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_2[value="13"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_2[value="14"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_2[value="15"] ~ *{
    --carte_suspect_2 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

.charsheet .carte_suspect_3[value="0"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_3[value="1"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_3[value="2"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_3[value="3"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_3[value="4"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_3[value="5"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_3[value="6"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_3[value="7"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_3[value="8"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_3[value="9"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_3[value="10"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_3[value="11"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_3[value="12"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_3[value="13"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_3[value="14"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_3[value="15"] ~ *{
    --carte_suspect_3 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

.charsheet .carte_suspect_4[value="0"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_4[value="1"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_4[value="2"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_4[value="3"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_4[value="4"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_4[value="5"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_4[value="6"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_4[value="7"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_4[value="8"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_4[value="9"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_4[value="10"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_4[value="11"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_4[value="12"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_4[value="13"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_4[value="14"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_4[value="15"] ~ *{
    --carte_suspect_4 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

.charsheet .carte_suspect_5[value="0"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_5[value="1"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_5[value="2"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_5[value="3"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_5[value="4"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_5[value="5"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_5[value="6"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_5[value="7"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_5[value="8"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_5[value="9"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_5[value="10"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_5[value="11"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_5[value="12"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_5[value="13"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_5[value="14"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_5[value="15"] ~ *{
    --carte_suspect_5 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

.charsheet .carte_suspect_6[value="0"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_vierge.png);
}

.charsheet .carte_suspect_6[value="1"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_1.png);
}

.charsheet .carte_suspect_6[value="2"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_2.png);
}

.charsheet .carte_suspect_6[value="3"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_3.png);
}

.charsheet .carte_suspect_6[value="4"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_4.png);
}

.charsheet .carte_suspect_6[value="5"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_5.png);
}

.charsheet .carte_suspect_6[value="6"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_6.png);
}

.charsheet .carte_suspect_6[value="7"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_7.png);
}

.charsheet .carte_suspect_6[value="8"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_8.png);
}

.charsheet .carte_suspect_6[value="9"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_9.png);
}

.charsheet .carte_suspect_6[value="10"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_10.png);
}

.charsheet .carte_suspect_6[value="11"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_11.png);
}

.charsheet .carte_suspect_6[value="12"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_12.png);
}

.charsheet .carte_suspect_6[value="13"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_13.png);
}

.charsheet .carte_suspect_6[value="14"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_14.png);
}

.charsheet .carte_suspect_6[value="15"] ~ *{
    --carte_suspect_6 : url(https://raw.githubusercontent.com/ctotone/JdR/main/Alibi/images/carte_individu_15.png);
}

