@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|Grenze+Gotisch|Trade+Winds|Open+Sans&display=swap');

/* Core Format*/
.charsheet {
    background-color: transparent;
    padding: 0 !important;	
	font-family: 'Trade Winds';
	--gris : #757070;
	--base : black;
	color: var(--base);
}

body.sheet-darkmode .charsheet {
    background-color: black;
}

div.sheet_selector {
	margin-left: 423px;
	margin-top: 33px;
}

div.intro,
div.personnage {
	display: none;
}

.charsheet .sheet-sheettoggle[value="intro"] ~ div.intro,
.charsheet .sheet-sheettoggle[value="1"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="2"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="3"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="4"] ~ div.personnage {
    display: block;
}

div.intro {
	background-image: url("https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/roll_background.jpg");
	background-size: 845px 510px;
	width: 845px;
	height: 510px;
	border-radius: 15px;
    box-shadow: 0px 0px 15px 5px #0a0a0ac4;
}
div.intro_texte {
	font-size: 25px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 93px;
	text-decoration: underline;
	color: #000000c9;
}

div.boutton_intro {
	text-align: center;
}

div.personnage {
	background-image: var(--charsheet-background);
	width: 845px;
	height: 1275px;
    box-shadow: 0px 0px 15px 5px #0a0a0ac4;
    margin-bottom: 20px;
	border-radius: 5px;
}

body.sheet-darkmode div.intro,
body.sheet-darkmode div.personnage {
	box-shadow: 1px 0px 9px 3px #cdcdcdba;
}

div.sheet_selector,
div.name,
div.archetype,
div.classe_epee,
div.classe_ombre,
div.classe_sorcellerie,
div.aspect_1,
div.aspect_2,
div.aspect_3,
div.aspect_4,
div.richesse,
div.coeur,
div.etoile,
div.check_intermediaire,
div.check_vierge,
div.check_tendu,
div.check_epuise,
div.check_blesse,
div.check_marque,
div.dice,
div.type_jet {
	position: absolute;
	z-index: auto;
}

div.name {
	margin-top: 107px;
	margin-left: 37px;
}

div.archetype {
	margin-top: 247px;
    margin-left: -4px;	
}

div.classe_epee,
div.classe_ombre,
div.classe_sorcellerie {
	margin-top: 288px;
    margin-left: 239px;
}

div.aspect_1 {
	margin-left: 127px;	
    margin-top: 344px;
}

div.aspect_2 {
	margin-left: 140px;
    margin-top: 450px;
}

div.aspect_3 {
	margin-left: 155px;
    margin-top: 553px;
}

div.aspect_4 {
	margin-left: 170px;
    margin-top: 659px;
}

div.check_intermediaire {    
	margin-left: 356px;
	margin-top: 734px;
}

div.check_vierge {    
	margin-left: 43px;
	margin-top: 780px;
}

div.check_tendu {    
	margin-left: 39px;
	margin-top: 858px;
}

div.check_epuise {    
	margin-left: 59px;
	margin-top: 942px;
}

div.check_blesse {    
	margin-left: 39px;
	margin-top: 1021px;
}

div.check_marque {    
	margin-left: -2px;
	margin-top: 1096px;
}

div.richesse {
    margin-top: 635px;
    margin-left: 19px;
}

div.coeur {
    margin-top: 1197px;
    margin-left: 15px;
}

div.etoile {
    margin-top: 1195px;
    margin-left: 372px;
}

div.dice {  
	margin-top: 1206px;
	margin-left: 91px;
}

div.type_jet {
	margin-top: 1217px;
	margin-left: 150px;
}

/* #Systeme changement background */
.selector[value*="1"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_4.png);
}

.selector[value*="2"] ~ *{
   --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_3.png);
}

.selector[value*="3"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_2.png);
}

.selector[value*="4"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_1.png);
}

/* Systeme de déroulant dynamique */
.classe_epee, .classe_ombre, .classe_sorcellerie {
    display: none;
}

input[value*="epee"].archetype ~ div.classe_epee,
input[value*="ombre"].archetype ~ div.classe_ombre,
input[value*="sorcellerie"].archetype ~ div.classe_sorcellerie {
	display: block;
}

/* Checkbox */
* {
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1em;
  background: transparent; 
  cursor: pointer;
}

input[type=checkbox]:checked+label {
  background: #151414eb;
}

label {
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

/* Format de page */
.charsheet textarea {
	color: var(--base);
}

.charsheet textarea.name {  
	width: 176px;
	outline: none;
	resize: none;
	padding: 0;
	font-family: 'Trade Winds';
	font-size: 25px;
	line-height: 1.1;
	border: none;
	background: none;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	height: 60px;
}

.charsheet select {
	width: auto;
    border: none;
    background: transparent;
    padding-left: 0px;
    padding-bottom: 0px;
	border: 1px solid red;
	color: var(--base);
	cursor: pointer;
}

select.archetype {  
    margin-top: 40px;
    font-size: 17px;
    margin-left: 30px;
    text-align: center;
    width: 200px;
    border: none;
}

select.classe {
    font-size: 10px;
    text-align: center;
    width: 208px;
	border: none;
}

select.aspect {
    font-size: 17px;
    text-align: center;
    width: 265px;
	height: 90px;
	border: none;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

select.roll {
	font-size: 15px;
	text-align: center;
	border: 1px solid #000;
	background: #c2c2c2;
	height: 35px;
	border-radius: 30px;
	box-shadow: 2px 4px 7px 3px #0a0a0ae3;
	padding-top: 6px;
	padding-left: 10px;
	width: 215px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
	border-radius: 0px;
	background-color: transparent;
	outline: none;
	border: none;
	font-family: 'Trade Winds';
    font-size: 25px;
	color: var(--base);
	cursor: pointer;
}

.richesse input[type=number] {
    font-size: 50px;
    width: 70px !important;
    text-align: center;
}

.coeur input[type=number],
.etoile input[type=number] {
    font-size: 38px;
    width: 70px !important;
    text-align: center;
}

/* Bouton choix intro et Roll */
span.picto_reset_intro {
	font-family: 'Pictos';
    font-size: 28px;
}

.charsheet button[type=action].intro_reset::before,
.charsheet button[type=action].paragon_intro::before,
.charsheet button[type=action].eclaireur_intro::before,
.charsheet button[type=action].guerrier_intro::before,
.charsheet button[type=action].sentinelle_intro::before,
.charsheet button[type=roll].roll_dice::before {
	content: '';
}

.charsheet button[type=action].intro_reset{
    border: none;
    padding: 0;
    background: none;
    color: #ffffff2b;
}


.charsheet button[type=action].intro_reset:hover{
    color: #ffffffb5;
}


.charsheet button[type=action].paragon_intro,
.charsheet button[type=action].eclaireur_intro,
.charsheet button[type=action].guerrier_intro,
.charsheet button[type=action].sentinelle_intro {
	width: 145px;
	height: 133px;
    border: none;
    padding: 0;
	background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 2px 1px 7px 3px #0000006e;
	border-radius: 10px;
}

.charsheet button[type=action].paragon_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_paragon.png);
}

.charsheet button[type=action].eclaireur_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_eclaireur.png);
}

.charsheet button[type=action].guerrier_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_guerrier.png);
}

.charsheet button[type=action].sentinelle_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_sentinelle.png);
}

.charsheet button[type=action].paragon_intro:hover,
.charsheet button[type=action].eclaireur_intro:hover,
.charsheet button[type=action].guerrier_intro:hover,
.charsheet button[type=action].sentinelle_intro:hover {
    box-shadow: 0px 0px 16px 4px black;
}

.charsheet button[type=roll].roll_dice {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/6_dice.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-color: transparent;
	
}

.charsheet button[type=roll].roll_dice:hover {
    margin: 0px;
	padding: 0px;
	background-position: 0 0px;
}

/* Roll Template */
/* DEDALE CLASSIQUE */
.sheet-rolltemplate-dedale {
  margin-left: -20px;
}

.sheet-rolltemplate-dedale .sheet-container {
	border-radius: 10px 10px 10px 10px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 5px 7px 18px 2px #000000ba;
	background-image: url('https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/roll_background.jpg');
	background-size: 282px 172px;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-dedale .sheet-container {
    box-shadow: 5px 7px 11px -1px #a4a0a05e;
}

.sheet-rolltemplate-dedale .sheet-header {
	color: var(--header-text-color);
	height: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sheet-rolltemplate-dedale .sheet-title {
	font-weight: bold;
	padding-bottom: 2px;
	color: #000000c7;
	text-align: center;
	font-size: 20px;
	font-family: 'Trade Winds', 'Proxima Nova';
	line-height: 1.2;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 19px;
}

.sheet-rolltemplate-dedale .sheet-subtitle {
    font-size: 14px;
    margin-top: 2px;
    color: #000000c7;
    text-align: center;
    font-style: italic;
}

.sheet-rolltemplate-dedale .sheet-container {
  --border-roll-color: #000000a6;
  --header-text-color: #FFF;
  --result-bg-color: #772d34;
  --header-bg-color: #475e66;
}

.sheet-rolltemplate-dedale .sheet-content {
    display: grid;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    color: #475e66;
    border: none;
}

.sheet-rolltemplate-dedale .sheet-content > div {
	padding: 5px;
}

.sheet-rolltemplate-dedale .sheet-content .sheet-key {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}

.sheet-rolltemplate-dedale .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-dedale .sheet-content :nth-child(4n) {
    background: #6150451c;
}

.sheet-rolltemplate-dedale .sheet-desc,
.sheet-rolltemplate-dedale .sheet-desc-red,
.sheet-rolltemplate-dedale .sheet-desc-green{
	grid-column: span 2;
	text-align: center;
	padding-top: 5px !important;
	padding-bottom: 18px !important;
	height: 45px;
	color: #000000c7 !important;
	font-size: 25px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale .inlinerollresult,
.sheet-rolltemplate-dedale .inlinerollresult.importantroll {
	border: none !important;
    background-color: transparent !important;
    color: #475e66 !important;
}

.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullfail {
	color: #000000c7 !important;
    font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullfail {
	color: #a20202 !important;
}

.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullcrit {
	color: #176c17 !important;
}

.sheet-rolltemplate-dedale .sheet-desc-red .inlinerollresult,
.sheet-rolltemplate-dedale .sheet-desc-red .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale .sheet-desc-red .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale .sheet-desc-red .inlinerollresult.fullfail,
.sheet-rolltemplate-dedale .sheet-desc-red .inlinerollresult.fullfail {
	color: #a20202 !important; 
	font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale .sheet-desc-green .inlinerollresult,
.sheet-rolltemplate-dedale .sheet-desc-green .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale .sheet-desc-green .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale .sheet-desc-green .inlinerollresult.fullfail,
.sheet-rolltemplate-dedale .sheet-desc-green .inlinerollresult.fullcrit {
	color: #176c17 !important;
	font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

/* DEDALE ALT */
.sheet-rolltemplate-dedale-alt {
  margin-left: -20px;
}

.sheet-rolltemplate-dedale-alt .sheet-container {
	border-radius: 10px 10px 10px 10px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 5px 7px 18px 2px #000000ba;
	background-image: url('https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/roll_background.jpg');
	background-size: 282px 172px;
}

.sheet-rolltemplate-dedale-alt .sheet-container-2 {
	border-radius: 10px 10px 10px 10px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 5px 7px 18px 2px #000000ba;
	background-image: url('https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/roll_background.jpg');
	background-size: 282px 172px;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-dedale-alt .sheet-container {
    box-shadow: 5px 7px 11px -1px #a4a0a05e;
}

.sheet-rolltemplate-dedale-alt .sheet-header {
	color: var(--header-text-color);
	height: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sheet-rolltemplate-dedale-alt .sheet-title {
	font-weight: bold;
	padding-bottom: 2px;
	color: #000000c7;
	text-align: center;
	font-size: 20px;
	font-family: 'Trade Winds', 'Proxima Nova';
	line-height: 1.2;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 19px;
}

.sheet-rolltemplate-dedale-alt .sheet-subtitle {
    font-size: 14px;
    margin-top: 2px;
    color: #000000c7;
    text-align: center;
    font-style: italic;
}

.sheet-rolltemplate-dedale-alt .sheet-container,
.sheet-rolltemplate-dedale-alt .sheet-container-2 {
  --border-roll-color: #000000a6;
  --header-text-color: #FFF;
  --result-bg-color: #772d34;
  --header-bg-color: #475e66;
}

.sheet-rolltemplate-dedale-alt .sheet-content {
    display: grid;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    color: #475e66;
    border: none;
}

.sheet-rolltemplate-dedale-alt .sheet-content-2 {
    display: grid;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    color: #475e66;
    border: none;
}

.sheet-rolltemplate-dedale-alt .sheet-info {
    grid-column: span 2;
    height: 80px;
    color: #000000c7 !important;
    font-size: 25px;
    font-family: 'Trade Winds', 'Proxima Nova';
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-rolltemplate-dedale-alt .sheet-content > div {
	padding: 5px;
}

.sheet-rolltemplate-dedale-alt .sheet-content .sheet-key {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}

.sheet-rolltemplate-dedale-alt .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-dedale-alt .sheet-content :nth-child(4n) {
    background: #6150451c;
}

.sheet-rolltemplate-dedale-alt .sheet-desc,
.sheet-rolltemplate-dedale-alt .sheet-desc-red,
.sheet-rolltemplate-dedale-alt .sheet-desc-green{
	grid-column: span 2;
	text-align: center;
	padding-top: 5px !important;
	padding-bottom: 18px !important;
	height: 45px;
	color: #000000c7 !important;
	font-size: 25px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale-alt .inlinerollresult,
.sheet-rolltemplate-dedale-alt .inlinerollresult.importantroll {
	border: none !important;
    background-color: transparent !important;
    color: #475e66 !important;
}

.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult,
.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult.fullfail {
	color: #000000c7 !important;
    font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult.fullfail {
	color: #a20202 !important;
}

.sheet-rolltemplate-dedale-alt .sheet-desc .inlinerollresult.fullcrit {
	color: #176c17 !important;
}

.sheet-rolltemplate-dedale-alt .sheet-desc-red .inlinerollresult,
.sheet-rolltemplate-dedale-alt .sheet-desc-red .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale-alt .sheet-desc-red .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale-alt .sheet-desc-red .inlinerollresult.fullfail,
.sheet-rolltemplate-dedale-alt .sheet-desc-red .inlinerollresult.fullfail {
	color: #a20202 !important; 
	font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

.sheet-rolltemplate-dedale-alt .sheet-desc-green .inlinerollresult,
.sheet-rolltemplate-dedale-alt .sheet-desc-green .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale-alt .sheet-desc-green .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale-alt .sheet-desc-green .inlinerollresult.fullfail,
.sheet-rolltemplate-dedale-alt .sheet-desc-green .inlinerollresult.fullcrit {
	color: #176c17 !important;
	font-size: 45px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

