@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|Grenze+Gotisch|Trade+Winds|Open+Sans&display=swap');

/* Core Format*/
.charsheet {
    background-color: transparent;
    padding: 0 !important;	
}

div.personnage {
	background-image: url('https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_1.png');
	width: 845px;
	height: 1275px;
}