@import url('https://fonts.googleapis.com/css?family=Ruslan+Display|Grenze+Gotisch|Trade+Winds|Open+Sans&display=swap');

/* Core Format*/
.charsheet {
    background-color: transparent;
    padding: 0 !important;	
	font-family: 'Trade Winds';
	--gris : #757070;
	--base : black;
	color: var(--base);
}

div.sheet_selector {
    margin-left: 820px;
}

div.intro,
div.personnage {
	display: none;
}

.charsheet .sheet-sheettoggle[value="intro"] ~ div.intro,
.charsheet .sheet-sheettoggle[value="1"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="2"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="3"] ~ div.personnage,
.charsheet .sheet-sheettoggle[value="4"] ~ div.personnage {
    display: block;
}

div.intro_texte {
	font-size: 25px;
	margin-bottom: 50px;
	text-align: center;
}

div.boutton_intro {
	text-align: center;
}

div.personnage {
	background-image: var(--charsheet-background);
	width: 845px;
	height: 1275px;
    box-shadow: 0px 0px 15px 5px #0a0a0ac4;
    margin-bottom: 20px;
}

div.name,
div.archetype,
div.classe_epee,
div.classe_ombre,
div.classe_sorcellerie,
div.aspect_1,
div.aspect_2,
div.aspect_3,
div.aspect_4,
div.richesse,
div.coeur,
div.etoile,
div.check_intermediaire,
div.check_vierge,
div.check_tendu,
div.check_epuise,
div.check_blesse,
div.check_marque,
div.dice,
div.type_jet {
	position: absolute;
	z-index: auto;
}

div.name {
	margin-top: 73px;
    margin-left: 32px;
}

div.archetype {
	margin-top: 247px;
    margin-left: -4px;
	
}

div.classe_epee,
div.classe_ombre,
div.classe_sorcellerie {
	margin-top: 288px;
    margin-left: 233px;
}

div.aspect_1 {
	margin-left: 127px;	
    margin-top: 344px;
}

div.aspect_2 {
	margin-left: 140px;
    margin-top: 450px;
}

div.aspect_3 {
	margin-left: 155px;
    margin-top: 553px;
}

div.aspect_4 {
	margin-left: 170px;
    margin-top: 659px;
}

div.check_intermediaire {    
	margin-left: 356px;
	margin-top: 733px;
}

div.check_vierge {    
	margin-left: 43px;
	margin-top: 779px;
}

div.check_tendu {    
	margin-left: 39px;
	margin-top: 857.5px;
}

div.check_epuise {    
	margin-left: 59px;
	margin-top: 941px;
}

div.check_blesse {    
	margin-left: 39px;
	margin-top: 1020px;
}

div.check_marque {    
	margin-left: -2px;
	margin-top: 1095px;
}

div.richesse {
    margin-top: 635px;
    margin-left: 19px;
}

div.coeur {
    margin-top: 1197px;
    margin-left: 15px;
}

div.etoile {
    margin-top: 1195px;
    margin-left: 372px;
}

div.dice {  
	margin-top: 1206px;
	margin-left: 98px;
}

div.type_jet {
	margin-top: 1217px;
	margin-left: 155px;
}

/* #Systeme changement background */
.selector[value*="1"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_4.png);
}

.selector[value*="2"] ~ *{
   --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_3.png);
}

.selector[value*="3"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_2.png);
}

.selector[value*="4"] ~ *{
    --charsheet-background: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/PJ_1.png);
}

/* Systeme de déroulant dynamique */
.classe_epee, .classe_ombre, .classe_sorcellerie {
    display: none;
}

input[value*="epee"].archetype ~ div.classe_epee,
input[value*="ombre"].archetype ~ div.classe_ombre,
input[value*="sorcellerie"].archetype ~ div.classe_sorcellerie {
	display: block;
}

/* Checkbox */
* {
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1em;
  background: transparent; 
  cursor: pointer;
}

input[type=checkbox]:checked+label {
  background: #510909f0;
}

label {
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

/* Format de page */
.charsheet textarea {
	color: var(--base);
}

.charsheet textarea.name {  
	width: 167px;  
    outline: none;
    resize: none;
    padding: 5px;
    padding-left: 10px;
	font-family: 'Trade Winds';
    font-size: 25px;
    line-height: 2;
    border: none;
    background: none;
    text-align: center; 
	font-weight: bold;
	cursor: pointer;
}

.charsheet select {
	width: auto;
    border: none;
    background: transparent;
    padding-left: 0px;
    padding-bottom: 0px;
	border: 1px solid red;
	color: var(--base);
	cursor: pointer;
}

select.archetype {  
    margin-top: 40px;
    font-size: 17px;
    margin-left: 30px;
    text-align: center;
    width: 200px;
    border: none;
}

select.classe {
    font-size: 10px;
    text-align: center;
    width: 208px;
	border: none;
}

select.aspect {
    font-size: 17px;
    text-align: center;
    width: 265px;
	height: 90px;
	border: none;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

select.roll {
	font-size: 17px;
	text-align: center;
	border: 1px solid #000;
	background: #c2c2c2;
	height: 35px;
	border-radius: 30px;
    box-shadow: 2px 4px 7px 3px #0a0a0ae3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
	border-radius: 0px;
	background-color: transparent;
	outline: none;
	border: none;
	font-family: 'Trade Winds';
    font-size: 25px;
	color: var(--base);
	cursor: pointer;
}

.richesse input[type=number] {
    font-size: 50px;
    width: 70px !important;
    text-align: center;
}

.coeur input[type=number],
.etoile input[type=number] {
    font-size: 38px;
    width: 70px !important;
    text-align: center;
}

/* Bouton choix intro et Roll */
span.picto_reset_intro {
	font-family: 'Pictos';
    font-size: 28px;
}

.charsheet button[type=action].intro_reset::before,
.charsheet button[type=action].paragon_intro::before,
.charsheet button[type=action].eclaireur_intro::before,
.charsheet button[type=action].guerrier_intro::before,
.charsheet button[type=action].sentinelle_intro::before,
.charsheet button[type=roll].roll_dice::before {
	content: '';
}

.charsheet button[type=action].intro_reset{
    border: none;
    padding: 0;
    background: none;
    color: #43586147;
}


.charsheet button[type=action].intro_reset:hover{
    color: black;
}


.charsheet button[type=action].paragon_intro,
.charsheet button[type=action].eclaireur_intro,
.charsheet button[type=action].guerrier_intro,
.charsheet button[type=action].sentinelle_intro {
    width: 175px;
    height: 159px;
    border: none;
    padding: 0;
	background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 2px 1px 7px 3px #0000006e;
}

.charsheet button[type=action].paragon_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_paragon.png);
}

.charsheet button[type=action].eclaireur_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_eclaireur.png);
}

.charsheet button[type=action].guerrier_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_guerrier.png);
}

.charsheet button[type=action].sentinelle_intro {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/button_sentinelle.png);
}

.charsheet button[type=action].paragon_intro:hover,
.charsheet button[type=action].eclaireur_intro:hover,
.charsheet button[type=action].guerrier_intro:hover,
.charsheet button[type=action].sentinelle_intro:hover {
    box-shadow: 0px 0px 16px 4px black;
}

.charsheet button[type=roll].roll_dice {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Dedales/img/6_dice.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-color: transparent;
	
}

.charsheet button[type=roll].roll_dice:hover {
    margin: 0px;
	padding: 0px;
	background-position: 0 0px;
}

/* Roll Template */

.sheet-rolltemplate-dedale {
  margin-left: 20px;
}

.sheet-rolltemplate-dedale .sheet-container {
    position: relative;
    margin-bottom: 15px;
    border-radius: 40px 20px 25px 25px;
    box-shadow: 5px 7px 18px 2px #000000ba;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-dedale .sheet-container {
    box-shadow: 5px 7px 11px -1px #a4a0a05e;
}

.sheet-rolltemplate-dedale .sheet-type {
    position: relative;
    z-index: 1;
    padding: 2px;
    border-radius: 20px 20px;
    border: 2px solid #475e66;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    height: 15px;
    top: 4px;
    background-image: url(https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Cabinet%2520des%2520murmures/img/offi_button_background_result.png);
    color: white;
}

.sheet-rolltemplate-dedale .sheet-header {
    color: var(--header-text-color);
    padding: 7px;
    border-radius: 40px 20px 0px 0px;
    font-family: "Libre Bodoni", serif;
    background-image: url(https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Cabinet%2520des%2520murmures/img/offi_button_background.png);
    background-size: cover;
    position: relative;
    z-index: 0;
    padding-bottom: 8px;
}

.sheet-rolltemplate-dedale .sheet-title {
    font-size: 18px;
    padding-top: 3px;
    font-weight: bold;
    padding-bottom: 2px;
    color: #ffffffeb;
    text-align: center;
}

.sheet-rolltemplate-dedale .sheet-subtitle {
    font-size: 14px;
    margin-top: 2px;
    color: #ffffffc4;
    text-align: center;
    font-style: italic;
}

.sheet-rolltemplate-dedale .sheet-container {
  --border-roll-color: #1d2d30;
  --header-text-color: #FFF;
  --result-bg-color: #772d34;
  --header-bg-color: #475e66;
}

.sheet-rolltemplate-dedale .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    background-image: url(https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Cabinet%2520des%2520murmures/img/offi_background.png);
    background-size: cover;
    color: #475e66;
    border-radius: 0px 0px 25px 25px;
    border: 3px solid var(--border-roll-color);
    border-top: none;
}

.sheet-rolltemplate-dedale .sheet-content > div {
	padding: 5px;
}

.sheet-rolltemplate-dedale .sheet-content .sheet-key {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}

.sheet-rolltemplate-dedale .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-dedale .sheet-content :nth-child(4n) {
    background: #6150451c;
}

.sheet-rolltemplate-dedale .sheet-desc {
    grid-column: span 2;
    text-align: center;
    padding-top: 12px !important;
    padding-bottom: 9px !important;
    background-color: #772d34 !important;
    color: #f1f2f3 !important;
    font-size: 22px;
    font-family: 'Libre Bodoni', serif;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    background-image: url(https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/ctotone/JdR/main/Cabinet%2520des%2520murmures/img/offi_button_background_result.png) !important;
    background-size: 300px 30px !important;
}

.sheet-rolltemplate-dedale .inlinerollresult,
.sheet-rolltemplate-dedale .inlinerollresult.importantroll {
	border: none !important;
    background-color: transparent !important;
    color: #475e66 !important;
}

.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-dedale .sheet-desc .inlinerollresult.fullfail {
	color: #ffffff !important;
    font-size: 20px;
	font-family: 'Trade Winds', 'Proxima Nova';
}

