/* Import de font */
@import url('....');

/* Apparence générale de la page */
.charsheet {
    --black_text: #000002;
    --white_text: #fcfcfd;
	--font_playfair: "Playfair", serif;
    --back_dev: rgba(255, 0, 0, 0.178);
    font-family: "Playfair", serif;
    color: var(--black_text);
    font-size: 19px;
    line-height: 25px;
    margin: 0px;
}

.sheet-darkmode .charsheet {
    --black_text: #000002;
    --white_text: #fcfcfd;
}

.sheetform {
    background-color: #ffffff;
    width: 800px;
}

.sheet-darkmode .sheetform {
    background-color: #1f1f1f;
}

::placeholder {
  color: rgba(128, 128, 128, 0.548);
  font-size: 13px;
  margin-top: 0px;
}

/* Mise en page */
span.apparence {  
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
}

span.picto {  
	font-family: "pictos";
	font-size: 16px;
}

/* Les input */
.charsheet input {  
    border: none;
    outline: none;
    resize: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    color: var(--black);
    font-size: 18px;
    line-height: 25px;
    background: transparent;
}

/* Suppression des fleches pour input number */
.charsheet input[type=number]::-webkit-inner-spin-button,
.charsheet input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Input souligné */
.charsheet input.souligne {  
    border-bottom: 1px dotted black;
    height: 20px;
    /* important de pas radius zero sinon barre clignotante bug*/
    border-radius: 1px; 
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 2px;
    color: var(--black_text);
}

.charsheet input.case_stat {  
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--white_text);
    color: var(--black_text);
    text-align: center;
    font-size: 25px;
    padding: 0;
    padding-bottom: 6px;
}

.charsheet textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
}

.charsheet textarea.avec_trait {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.4px;
    padding-left: 6px;
    overflow: hidden;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/ligne_notes.png);
    background-size: auto 13.7px;
}

/* Checkbox custom */
input[type="checkbox"] {    
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    background-color: var(--white_text);
    margin: 0;
    font: inherit;
    color: var(--white);
    width: 18px;
    height: 18px !important;
    border: 2px solid var(--white_text);
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-color: var(--white_text);
    border: 2px solid var(--white_text);
}

label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 18px !important;
    height: 18px;
    padding: 0px !important;
    margin: 0 !important;
}

label::before {
    content: "";
    width: 18px;
    height: 18px;
  }

input[type="checkbox"]:checked + label::before {
    content: "✔";
    display: flex;
    justify-content: center;
    color: var(--black);
    font-size: 17px;
    font-weight: bold;
    margin-top: -19px;
  }

input[type="checkbox"]:focus {
  outline: none;
}

/* Boutton type text */
.charsheet button[type=action].boutton_texte::before,
.charsheet button[type=roll].boutton_texte::before {
	content: '';
}

.charsheet button[type=action].boutton_texte,
.charsheet button[type=roll].boutton_texte {
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    border-radius: 1px;
    color: var(--white_text);
    font-size: 19px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.charsheet button[type=action].button_texte:hover,
.charsheet button[type=roll].button_texte:hover {
    font-weight: bold;
}

/* Boutton pour les menus */
.charsheet button[type=action].button0::before,
.charsheet button[type=roll].button1::before,
.charsheet button[type=roll].button2::before,
.charsheet button[type=roll].button3::before {
	content: '';
}

.charsheet button[type=action].button0,
.charsheet button[type=action].button1,
.charsheet button[type=action].button2,
.charsheet button[type=action].button3 
{
    box-shadow: none;
    text-shadow: none;
    background: var(--color_background_button);
    text-align: left;
    height: 19px;
    border: 1px solid var(--color_border_button);
    color: var(--color_text_button);
    font-size: 14px;
    margin-left: -7px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    padding-right: 15px;
    padding-left: 10px;
    box-shadow: -4px 1px 6px 0px var(--color_ombre_button);
}

.charsheet button[type=action].button0:hover,
.charsheet button[type=action].button1:hover,
.charsheet button[type=action].button2:hover,
.charsheet button[type=action].button3:hover {
    color: var(--color_text_hover);
}

/* Affichage different du bouton actif */
.charsheet .choix_page[value="0"] ~ div .button0 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}
.charsheet .choix_page[value="1"] ~ div .button1 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}
.charsheet .choix_page[value="2"] ~ div .button2 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}
.charsheet .choix_page[value="3"] ~ div .button3 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}

/* Decallage du premier boutton qu'on veut mettre à droite de barre div menu, les autres à droite suivront */
.charsheet .choix_page[value="0"] ~ div .button3,
.charsheet .choix_page[value="1"] ~ div .button3,
.charsheet .choix_page[value="2"] ~ div .button3,
.charsheet .choix_page[value="3"] ~ div .button3 {
    margin-left: 50px;
}

/* Affichage des page dynamique */
div.page1,
div.page2,
div.page3,
div.page4 {
    display: none;
}

.charsheet .choix_page[value="0"] ~ div.page1,
.charsheet .choix_page[value="1"] ~ div.page2,
.charsheet .choix_page[value="2"] ~ div.page3,
.charsheet .choix_page[value="3"] ~ div.page4 {
    display: block;
}

/* Variable dynamique en fonction d'un choix select ou script */
.charsheet .choix_visage[value="0"] ~ *{
    --carte_visage : none;
}

.charsheet .choix_page[value="1"] ~ *{
    --carte_visage : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/visage_borhh.png);
}

.charsheet .choix_page[value="2"] ~ *{
    --carte_visage : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/visage_gull.png);
}

.charsheet .choix_page[value="3"] ~ *{
    --carte_visage : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/visage_satyr.png);
}

/* Structure générale de la page_personnage */

.wrapper_page_1 {
    display: grid;
    grid-template-columns: repeat(86, 10px);    
    grid-template-columns: 320px 320px 320px;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 10px;
    /* background: var(--back_dev); */
}

.page1_zone_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background: var(--back_dev); */
}





/* ---------------------------------------- */
/*              ROLL TEMPLATE               */
/* ---------------------------------------- */
/* Suppression des couleurs de roll */
.sheet-rolltemplate-nomtemplate .inlinerollresult {
    background-color: transparent !important;
    border: none !important;
    color: unset !important;
}
  
.sheet-rolltemplate-nomtemplate .inlinerollresult {
    background-color: transparent !important;
    border: none !important;
    color: unset !important;
}
   
.sheet-rolltemplate-nomtemplate .inlinerollresult.fullcrit {
    background-color: transparent !important;
    border: none !important;
    color: unset !important;
}
   
.sheet-rolltemplate-nomtemplate .inlinerollresult.fullfail {
    background-color: transparent !important;
    border: none !important;
    color: unset !important;
}
   
.sheet-rolltemplate-nomtemplate .inlinerollresult.importantroll {
    background-color: transparent !important;
    border: none !important;
    color: unset !important;
}

/* ---------------------------------------- */
/*                 THANATOS                 */
/* ---------------------------------------- */
/* Structure du template */
.sheet-rolltemplate-thanatos {
    text-align: center;
    --echec_2: #bc0000e0;
    --echec_3: #bc0000e0;
    --echec_1: #b016a0;
    --reussite_3: #036c03;
    --reussite_2: #035bae;
    --reussite_1: #9e9c02d9;
    --blanc_roll: #fcfcfdf0;
	--blanc_roll_dark: #fcfcfdf0;
    --noir_roll: #000004;
	--box_shadow: 2px 2px 10px 1px #000000f2;	
	--box_shadow_dark: 0px 1px 4px 3px #ffffff69;
	--background_color: #fcfcfdf0;
	--background_color_dark: #fcfcfdf0;
    width: 260px;
    height: auto;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-darkmode {
    --echec_2: #a80303e0;
    --echec_3: #a80303e0;
    --echec_1: #8a0f7d;
    --reussite_3: #036c03;
    --reussite_2: #004280;
    --reussite_1: #8a8809;
    --blanc_roll: #fcfcfde5;
    --noir_roll: #000004;	
	--box_shadow: 0px 1px 4px 3px #ffffff69;
	--background_color: #fcfcfde5;
}

.sheet-rolltemplate-thanatos .sheet-toper {
    background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 4px;
}

.sheet-rolltemplate-thanatos .sheet-bottom {
    background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 4px;
}

.sheet-rolltemplate-thanatos .sheet-separateur {
    background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_separation.png);
    background-size: 260px;
    background-repeat: no-repeat;
    height: 10px;
    width: 255px;
    margin-left: 3px;
}


.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-center {
    text-align: center;
    width: auto;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-color {
    background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_middle.png);
    background-size: 260px 500px;
	box-shadow: var(--box_shadow);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-background {
    background: var(--background_color);
    background-size: 260px 500px;
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-header {
	font-size: 22px;
	font-family: "Playfair", serif;
	word-wrap: break-word;
	letter-spacing: -0.7px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	width: auto;
	margin-left: 1px;
	background: var(--noir_roll);
	margin-top: -1px;
	margin-bottom: -5px;
	color: var(--blanc_roll);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-critique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite {
    background-color: transparent;
    color: #000000b3;
    font-size: 60px !important;
    letter-spacing: 0px;
    padding: 15px;
    margin-top: 15px;
    font-family: "EB Garamond", serif;
    width: auto;
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-tragique {
    color: var(--echec_1);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-critique{
    color: var(--echec_2);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec{
    color: var(--echec_3);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-exceptionnelle {
    color: var(--reussite_1);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-critique {
    color: var(--reussite_2);
}
  
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite {
    color: var(--reussite_3);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-result {
    font-size: 36px;
    font-family: "Playfair", serif;
    padding: 15px;
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite {
	font-size: 25px;
	line-height: 25px;
	font-family: "Playfair", serif;
	padding: 5px;
	padding-top: 15px;
	letter-spacing: -0.7px;
	margin-bottom: 10px;
    width: auto;
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite { 
	font-size: 12px;
	line-height: 12px;
	font-family: "Playfair", serif;
	padding: 5px;
	padding-bottom: 5px;
	padding-bottom: 6px;
	letter-spacing: -0.2px;
	color: var(--blanc_roll);
	width: auto;
	margin-left: 0px;
	background: var(--noir_roll);
	margin-top: -5px;
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-tragique {
    color: var(--echec_1);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-critique,   
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-critique{
    color: var(--echec_2);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec {
    color: var(--echec_3);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-exceptionnelle {
    color: var(--reussite_1);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-critique {
    color: var(--reussite_2);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite {
    color: var(--reussite_3);
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-succeeds {
    color: #148c00;
}
  
.sheet-rolltemplate-thanatos .sheet-template-thanatos-misses {
    color: #a90000;
}

/* Systeme de tableau dans le roll avec Kyy / Value*/

.sheet-rolltemplate-thanatos .sheet-content {  
	display: grid;
	grid-template-columns: 50% 50%;
	line-height: 13px;
    color: #000000b3;
    margin-left: 2px;
}

.sheet-rolltemplate-thanatos .sheet-content > div{
    padding: 5px;
}

.sheet-rolltemplate-thanatos .sheet-content .sheet-key {  
	font-weight: bold;
	padding-right: 2px;
	text-align: right;
	font-size: 13px;
}

.sheet-rolltemplate-thanatos .sheet-content .sheet-value {
	padding-right: 5px;
	text-align: left;
	font-size: 13px;
}

.sheet-rolltemplate-thanatos .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-thanatos .sheet-content :nth-child(4n) {
  background: #51515136;
  color: unset !important;
}

/* ---------------------------------------- */
/*               CLASSIC D20                */
/* ---------------------------------------- */
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-center {
    text-align: center;
    /* margin-left: 30px; */
    --echec_2: #ff0000;
    --echec_3: #ff006f;
    --echec_1: #dc00c9;
    --reussite_3: #009700;
    --reussite_2: #0082ff;
    --reussite_1: #fffe00;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-background {
    background: url(https://raw.githubusercontent.com/ctotone/JdR/ddd2da31698f6c31e797e674e934a9ea8621b426/.Images/background_roll.jpg) top left;
    background-repeat: no-repeat;
    border-spacing: 0;
    max-height: 200px;
    min-height: 130px;
    max-width: 250px;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 20px;
    border-radius: 10px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-header {
    color: #ffffffde;
    font-size: 20px;
    font-family: 'Contrail One';
    letter-spacing: 0px;
    word-wrap: break-word;
    /* margin-top: 25px; */
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
    background-color: transparent;
    color: #ffffffde;
    font-size: 40px;
    font-family: 'Contrail One';
    letter-spacing: 0px;
    padding: 15px;
    margin-top: 25px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique {
    color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique{
    color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec{
    color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle {
    color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique {
    color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
    color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-result {
    font-size: 36px;
    font-family: 'Contrail One';
    padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite

{
    font-size: 18px;
    line-height: 20px;
    font-family: 'Contrail One';
    padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique {
    color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique{
    color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec{
    color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle {
    color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique {
    color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite {
    color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-succeeds {
    color: #148c00;
}

.sheet-rolltemplate-itd .sheet-template-itd-misses {
    color: #a90000;
}



/* ---------------------------------------- */
/*               CLASSIC D20                */
/* ---------------------------------------- */
  
.sheet-rolltemplate-ito {
	margin-left: -10px;
}

.withoutavatars .sheet-rolltemplate-ito {
	margin-left: -10px;
}
  
.sheet-rolltemplate-ito .sheet-container {
	border: none;
	border-radius: 130px;
	box-shadow: 0px 0px 10px 3px #000000ad;
	width: 260px;
	height: 260px;
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/refs/heads/master/Chroniques_Katura/images/background_roll_v2.png);
	background-size: cover;
	font-family: "Baskervville", serif;
	--rouge: red;
	--vert: #00bd00;
	--noir_roll : #000;
}
  
.sheet-rolltemplate-darkmode.sheet-rolltemplate-ito .sheet-container {
	box-shadow: 0px 0px 10px 3px #000000ed;
	filter: brightness(83%);
}
  
.sheet-rolltemplate-ito .sheet-header {
	color: #000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 6px;
	border-bottom: 2px solid #ff6c2e82;
	margin-left: 50px;
	width: 160px;
}

  .sheet-rolltemplate-ito .sheet-title {
	  font-size: 18px;
	  font-weight: bold;	
	  margin-bottom: 5px;
	  letter-spacing: -0.5px;
  }
  
  .sheet-rolltemplate-ito .sheet-subtitle {
	  font-size: 16px;
	  /* font-style: italic; */
	  /* margin-bottom: 5px; */
	  /* letter-spacing: -0.5px; */
  }
  
  .sheet-rolltemplate-ito .sheet-content {
	  width: 184px;
	  margin-left: 38px;
	  display: grid;
	  grid-template-columns: auto auto;
	  line-height: 1.4em;
	  margin-top: 15px;
  }
  
  .sheet-rolltemplate-ito .sheet-content > div {
	padding: 5px;
  }
  
  .sheet-rolltemplate-ito .sheet-content .sheet-key {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
  }
  
  .sheet-rolltemplate-ito .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-ito .sheet-content :nth-child(4n) {
	background:#EEE;
  }
  
  .sheet-rolltemplate-ito .sheet-desc,
  .sheet-rolltemplate-ito .sheet-result,
  .sheet-rolltemplate-ito .sheet-feedback-reussite,
  .sheet-rolltemplate-ito .sheet-feedback-echec,
  .sheet-rolltemplate-ito .sheet-result-chance,
  .sheet-rolltemplate-ito .sheet-result-degats,
  .sheet-rolltemplate-ito .sheet-result-arcanum {
	grid-column: span 2;
	padding: 5px;
	text-align: center;
  }
  
  .sheet-rolltemplate-ito .sheet-result {
	  margin-top: 10px;
	  font-size: 60px;
	  font-weight: bold;
  }
  
  .sheet-rolltemplate-ito .sheet-feedback-reussite,
  .sheet-rolltemplate-ito .sheet-feedback-echec {
	  margin-top: 30px;
	  font-size: 25px;
	  font-weight: bold;
	  letter-spacing: -1.5px;
  }
  
  .sheet-rolltemplate-ito .sheet-feedback-reussite {
	  color: var(--vert);
  }
  
  .sheet-rolltemplate-ito .sheet-feedback-echec {
	  color: var(--rouge);  
  }
  
  .sheet-rolltemplate-ito .sheet-result-chance,
  .sheet-rolltemplate-ito .sheet-result-degats {
	  font-size: 100px;
	  margin-top: 33px;
	  font-weight: bold;
  }
  
  .sheet-rolltemplate-ito .sheet-result-arcanum {
	  font-size: 50px;
	  margin-top: 30px;
	  font-weight: bold;
	  font-style: italic;
  }
  
  .sheet-rolltemplate-ito .inlinerollresult,
  .sheet-rolltemplate-ito .inlinerollresult.importantroll,
  .sheet-rolltemplate-ito .inlinerollresult.fullcrit,
  .sheet-rolltemplate-ito .inlinerollresult.fullfail {
	  border: none !important;
	  background-color: transparent !important;
	  color: var(--noir_roll) !important;
	  font-size: 100px;
	  font-family: "Baskervville", serif;
  }
  
  .sheet-rolltemplate-ito .sheet-result-arcanum .inlinerollresult,
  .sheet-rolltemplate-ito .sheet-result-arcanum .inlinerollresult.importantroll,
  .sheet-rolltemplate-ito .sheet-result-arcanum .inlinerollresult.fullcrit,
  .sheet-rolltemplate-ito .sheet-result-arcanum .inlinerollresult.fullfail {
	  font-size: 80px;
	  font-style: italic;
	  padding: 0;
  }