@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=EB+Garamond:ital,wght@0,500;0,700;1,500&family=IM+Fell+English:ital@0;1&family=Junge&family=Libre+Bodoni:ital,wght@0,500;0,700;1,500&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif;
font-family: 'IM Fell English', serif;
font-family: 'Junge', cursive;
font-family: 'Libre Bodoni', serif; 
*/



/* TEMP */
/* div.cabinet {display: none;}
div.corps {display: none;} */


/*------------------------------------*\
  #General
\*------------------------------------*/

.charsheet {
   font-family: 'Libre Bodoni', serif;
   --blue_cabinet: #435861;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/temp/fond_temp.webp);
    background-size: cover;
}



.cabinet,
.corps,
.esprit {
	width:810px;
    border: 1px solid var(--blue_cabinet);
	padding: 10px;
	padding-bottom: 0px;
}



/*------------------------------------*\
  DARK MODE BASE
\*------------------------------------*/

body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #ffffffb5;
}

.btn:hover {
    background-position: unset;
}

.sheet-darkmode .sheetform {
	width: 700px;
    border-color: #475e66;
}


/*------------------------------------*\
  Wrapper Cabinet
\*------------------------------------*/

.wrapper_cabinet{  
	display: grid;
    grid-template-columns: 140px 10px 140px 10px 140px 30px 100px 10px 100px 100px 20px 20px;
	grid-auto-rows: 30px;
}


.esprit_titre {
	grid-column: 1/6;
	grid-row: 1;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.esprit_data {
	grid-column: 1/6;
	grid-row: 2/6;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.titre_trait{
    padding-left: 10px;
    overflow: hidden;
}

.titre_trait img{
    max-width: 100%;
    height: 12px;
    overflow: hidden;
    margin-top: -7px;
}

.acquis_collectifs {
	grid-column: 1/6;
	grid-row: 6;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
    white-space: nowrap;
	font-weight: bold;
}

.acquis_collectifs_data1 {
	grid-column: 1;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.acquis_collectifs_data2 {
	grid-column: 3;
	grid-row: 7/12;
	font-size: 16px;
	padding-top: 5px;
}

.acquis_collectifs_data3 {
	grid-column: 5;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.contact {
	grid-column: 1/6;
	grid-row: 12;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.contact_data {
	grid-column: 1/6;
	grid-row: 13/21;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.note {
	grid-column: 1/6;
	grid-row: 21;
	display:flex;
	font-size: 16px;
	font-weight: bold;
}

.note_data {
	grid-column: 1/6;
	grid-row: 22/34;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.description_cabinet {
	grid-column: 7/11;
	grid-row: 1;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
    white-space: nowrap;
	font-weight: bold;
}
.description_cabinet_data {
	grid-column: 7/11;
	grid-row: 2/12;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.adversaires {
	grid-column: 7/11;
	grid-row: 12;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}
.adversaires_data {
	grid-column: 7/11;
	grid-row: 13/21;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.graces {
	grid-column: 7/11;
	grid-row: 21;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.graces_data {
	grid-column: 7/11;
	grid-row: 22/28;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.xp_collective_cadre {
    grid-column: 7/11;
    grid-row: 30/34;
    font-size: 14px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/xp_border.png);
    background-size: cover;
    background-size: 310px 120px;
    background-repeat: no-repeat;
    padding: 10px;
}

.xp_collective {
	grid-column: 7/11;
	grid-row: 30;
	font-size: 16px;
    align-items: flex-end;
	text-align: center;
}

.xp_collective_data {
	grid-column: 7/11;
	grid-row: 31/34;
	font-size: 14px;
}

.decor_droite {
	grid-column: 12;
	grid-row: 10/20;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_right.PNG);
	background-size: cover;
}

.decor_bas {
	grid-column: 5/8;
	grid-row: 35;
	grid-template-rows: 20px;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_bottom.PNG);
	background-size: cover;
}

/*------------------------------------*\
  Style Cabinet / Corps / 
\*------------------------------------*/

/* input[type=text],
input[type=number] {
    display: inline-block;
    margin-right: 5px;
	border-radius: 0px;
    border: none;
    border-bottom: 1px solid #0000004f;
    -moz-appearance: textfield;
    margin-top: -5px;
    padding-bottom: 2px;
	background-color: transparent;
	width: 100%;
	font-family: 'Junge', cursive;
	font-size: 14px;
	color: var(--blue_cabinet);
	outline: none;
} */

.charsheet textarea.cab_esprit,
.charsheet textarea.cab_contact,
.charsheet textarea.cab_note,
.charsheet textarea.cab_desc,
.charsheet textarea.cab_adversaire,
.charsheet textarea.cab_grace,
.charsheet textarea.cor_description,
.charsheet textarea.cor_attributs,
.charsheet textarea.cor_equipement,
.charsheet textarea.cor_sequelles,
.charsheet textarea.cor_legere,
.charsheet textarea.cor_grave,
.charsheet textarea.cor_note,
.charsheet textarea.cor_sequelles_legere,
.charsheet textarea.cor_sequelles_grave,
.charsheet textarea.esp_profil,
.charsheet textarea.esp_contact,
.charsheet textarea.esp_routine,
.charsheet textarea.esp_adversaire,
.charsheet textarea.esp_objet,
.charsheet textarea.esp_corruption,
.charsheet textarea.esp_xp {    
	background-color: transparent;
	font-family: 'Junge', cursive;
	font-size: 14px;
	color: var(--blue_cabinet);
	outline: none;
	resize: none;
	padding: 7px;
    box-shadow: 2px 2px 0px 1px #293e47;
}

.charsheet textarea.cab_esprit,
.charsheet textarea.cor_description,
.charsheet textarea.cor_note {
	width: 420px;
	height: 90px;
}

.charsheet textarea.cab_contact {
	width: 420px;
	height: 200px;
}

.charsheet textarea.cab_note {
	width: 420px;
	height: 345px;
}

.charsheet textarea.cab_desc {
	width: 290px;
	height: 270px;
}

.charsheet textarea.cab_adversaire {
	width: 290px;
	height: 200px;
}

.charsheet textarea.cab_grace {
	width: 290px;
	height: 200px;
}

.charsheet textarea.cab_xp,
.charsheet textarea.cor_malus {
	width: 275px;
	height: 55px;
	background-color: transparent;
	font-family: 'Junge', cursive;
	font-size: 14px;
	color: var(--blue_cabinet);
	border: none;
	outline: none;
	resize: none;
	padding: 7px;
}

.charsheet textarea.cor_equipement {
    width: 265px;
    height: 208px;
}

.charsheet textarea.cor_sequelles_legere,
.charsheet textarea.cor_sequelles_grave {
    width: 120px;
    height: 56px;
}

.charsheet textarea.esp_profil {  
	width: 415px;
	height: 75px;
}

.charsheet textarea.esp_contact,
.charsheet textarea.esp_adversaire {   
	width: 145px;
	height: 60px;
}

.charsheet textarea.esp_routine {  
	width: 235px;
	height: 60px;
}

.charsheet textarea.esp_objet,
.charsheet textarea.esp_corruption {  
	width: 415px;
	height: 75px;
}

.charsheet textarea.esp_xp {  
	width: 100%;
	height: 95px;
}

.acquis_collectifs_data1 p,
.acquis_collectifs_data2 p,
.acquis_collectifs_data3 p,
.attributs_data1 p,
.attributs_data2 p,
.attributs_data3 p {
	border-radius: 0px;
	border-bottom: 1px solid var(--blue_cabinet);
}

.attributs_data1 p,
.attributs_data2 p,
.attributs_data3 p {
	font-family: 'Old Standard TT', serif;
	font-size: 13px;
	border-radius: 0px;
	border-bottom: none;
    margin-top: 7px;
    margin-bottom: 23px;
}

.acquis_collectifs_data1 input.data,
.acquis_collectifs_data2 input.data,
.acquis_collectifs_data3 input.data,
.acquis_collectifs_data1 input.bonus,
.acquis_collectifs_data2 input.bonus,
.acquis_collectifs_data3 input.bonus {
	border-radius: 0px;
	background-color: transparent;
	font-family: 'Junge', cursive;
	font-size: 14px;
	color: var(--blue_cabinet);
	outline: none;
	border: none;
}

.acquis_collectifs_data1 input.data,
.acquis_collectifs_data2 input.data,
.acquis_collectifs_data3 input.data {
	width: 105px;
}

.acquis_collectifs_data1 input.bonus,
.acquis_collectifs_data2 input.bonus,
.acquis_collectifs_data3 input.bonus,
.attributs_bonus1 input.bonus,
.attributs_bonus2 input.bonus,
.attributs_bonus3 input.bonus {
	width: 18px;
	font-weight: bold;
}


.attributs_bonus1 input.bonus,
.attributs_bonus2 input.bonus,
.attributs_bonus3 input.bonus {
    border-radius: 15px;
    background-color: transparent;
    font-family: 'Junge', cursive;
    font-size: 16px;
    color: var(--blue_cabinet);
    outline: none;
    border: 2px solid;
    width: 33px;
    font-weight: bold;
    text-align: right;
    margin-left: -14px;
}

.objet_esprit_data input.data,
.corruption_data input.data {
	border-radius: 0px;
	background-color: transparent;
	font-family: 'Junge', cursive;
	font-size: 14px;
	color: var(--blue_cabinet);
	outline: none;
	border: none;
	border-radius: 0px;
	border-bottom: solid 1px red;
	border-radius: 0px;
	border-bottom: solid 1px var(--blue_cabinet);
	margin-top: -5px;
	width: 100%;
}

/*------------------------------------*\
  Wrapper Corps
\*------------------------------------*/

.wrapper_corps{  
	display: grid;
    grid-template-columns: 100px 40px 10px 100px 40px 10px 100px 40px 30px 100px 10px 100px 130px 0px 5px 20px;
	grid-auto-rows: 30px;
}

.description {
	grid-column: 1/9;
	grid-row: 1;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.description_data {
	grid-column: 1/9;
	grid-row: 2/6;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.attributs {
	grid-column: 1/9;
	grid-row: 6;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
    white-space: nowrap;
	font-weight: bold;
}

.attributs_data1 {
	grid-column: 1;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.attributs_data2 {
	grid-column: 4;
	grid-row: 7/12;
	font-size: 16px;
	padding-top: 5px;
}

.attributs_data3 {
	grid-column: 7;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.attributs_bonus1 {
	grid-column: 2;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.attributs_bonus2 {
	grid-column: 5;
	grid-row: 7/12;
	font-size: 16px;
	padding-top: 5px;
}

.attributs_bonus3 {
	grid-column: 8;
	grid-row: 7/12;
	font-size: 14px;
	padding-top: 5px;
}

.equipement {
	grid-column: 1/6;
	grid-row: 12;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.equipement_data {
	grid-column: 1/6;
	grid-row: 13/21;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.sequelles {
	grid-column: 7/9;
	grid-row: 12;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.sequelles_legere {
	grid-column: 7/9;
	grid-row: 13;
	font-size: 14px;
	display:flex;
    align-items: flex-end;
}

.sequelles_legere_data {
	grid-column: 7/9;
	grid-row: 14/17;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.sequelles_grave {
	grid-column: 7/9;
	grid-row: 17;
	font-size: 14px;
	display:flex;
    align-items: flex-end;
}

.sequelles_grave_data {
	grid-column: 7/9;
	grid-row: 18/21;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.arme {
	grid-column: 1/9;
	grid-row: 21;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.arme_data {
	grid-column: 1/9;
	grid-row: 22/27;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.note_corps {
	grid-column: 1/9;
	grid-row: 27;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.note_corps_data {
	grid-column: 1/9;
	grid-row: 28/34;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.sante {
	grid-column: 10/14;
	grid-row: 1;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.sante_data {
	grid-column: 10/14;
	grid-row: 2/29;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/temp/corps%20bandeau%20temp.png);background-size: cover;
	background-repeat: no-repeat;
}

.malus_total_cadre {
    grid-column: 12;
    grid-row: 29/33;
    font-size: 14px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/xp_border.png);
    background-size: cover;
    background-size: 310px 120px;
    background-repeat: no-repeat;
    padding: 10px;
}

.malus_total {
	grid-column:12;
	grid-row: 29;
	font-size: 16px;
    align-items: flex-end;
	text-align: center;
}

.malus_total_data {
	grid-column: 12;
	grid-row: 30/33;
	font-size: 14px;
}

.cor_decor_droite {
	grid-column: 16;
	grid-row: 10/20;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_right.PNG);
	background-size: cover;
}

.cor_decor_bas {
	grid-column: 7/11;
	grid-row: 35;
	grid-template-rows: 20px;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_bottom.PNG);
	background-size: cover;
}

/*------------------------------------*\
  Wrapper Esprit
\*------------------------------------*/

.wrapper_esprit{  
	display: grid;
    grid-template-columns: 100px 0px 100px 0px 100px 30px 140px 10px 90px 20px 10px 20px 10px 20px 10px 110px 30px 20px;
	grid-auto-rows: 30px;
}

.qualite {
	grid-column: 1/6;
	grid-row: 1;
	font-size: 16px;
	display:flex;	
    white-space: nowrap;
    align-items: flex-end;
	font-weight: bold;
}

.qualite_data {
	grid-column: 1/6;
	grid-row: 2/29;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.profil {
	grid-column: 7/17;
	grid-row: 1;
	font-size: 16px;
	display:flex;
    white-space: nowrap;
    align-items: flex-end;
	font-weight: bold;
}

.profil_data {
	grid-column: 7/17;
	grid-row: 2/6;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.aspect {
	grid-column: 7;
	grid-row: 6;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.aspect_data {
	grid-column:7;
	grid-row: 7/11;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.acquis {
	grid-column: 9/17;
	grid-row: 6;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
    white-space: nowrap;
}

.acquis_1_data {
	grid-column: 9/13;
	grid-row: 7/11;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.acquis_2_data {
	grid-column: 14/17;
	grid-row: 7/11;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.perisprit {
	grid-column: 7/11;
	grid-row: 11;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.perisprit_data {
	grid-column: 7/11;
	grid-row: 12/15;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.contact_esprit {
	grid-column: 12/17;
	grid-row: 11;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.contact_esprit_data {
	grid-column: 12/17;
	grid-row: 12/15;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.routine {
	grid-column: 7/11;
	grid-row: 15;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.routine_data {
	grid-column: 7/11;
	grid-row: 16/19;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.adversaire_esprit {
	grid-column: 12/17;
	grid-row: 15;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.adversaire_esprit_data {
	grid-column: 12/17;
	grid-row: 16/19;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir {
	grid-column: 7/17;
	grid-row: 19;
	font-size: 16px;
	display:flex;
    align-items: flex-end;
	font-weight: bold;
}

.pouvoir_1 {
	grid-column: 7;
	grid-row: 20;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir_1_data {
	grid-column: 7;
	grid-row: 21/25;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir_2 {
	grid-column: 9/13;
	grid-row: 20;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir_2_data {
	grid-column: 9/13;
	grid-row: 21/25;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir_3 {
	grid-column: 14/17;
	grid-row: 20;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.pouvoir_3_data {
	grid-column: 14/17;
	grid-row: 21/25;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.objet_esprit {
	grid-column: 7/15;
	grid-row: 25;
	font-size: 16px;	
	display:flex;
	padding-top: 5px;
	padding-left: 5px;
    white-space: nowrap;
}

.objet_esprit_data {
	grid-column: 7/15;
	grid-row: 26;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.corruption {
	grid-column: 7/15;
	grid-row: 27;
	font-size: 16px;
	display:flex;
	padding-top: 5px;
	padding-left: 5px;
    white-space: nowrap;
}

.corruption_data {
	grid-column: 7/15;
	grid-row: 28;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.xp_esprit_cadre {
	grid-column: 16;
	grid-row: 25/29;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.xp_esprit_data {
	grid-column: 16;
	grid-row: 25/29;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.esp_decor_droite {
	grid-column: 18;
	grid-row: 10/20;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_right.PNG);
	background-size: cover;
}

.esp_decor_bas {
	grid-column: 5/8;
	grid-row: 30;
	grid-template-rows: 20px;
	font-size: 20px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Cabinet%20des%20murmures/img/deco_bottom.PNG);
	background-size: cover;
}
