/* Version jet prouesse  */

.sheet-rolltemplate-cabinet-prouesse {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-cabinet-prouesse {
  margin-left: -7px;
}

.sheet-rolltemplate-cabinet-prouesse .sheet-container {
  border: 1px solid;
  border-color: var(--header-bg-color);
}

.sheet-rolltemplate-cabinet-prouesse .sheet-header {
  background-color: var(--header-bg-color);
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
}
.sheet-rolltemplate-cabinet-prouesse .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-cabinet-prouesse .sheet-subtitle {
  font-size:.9em;
}

.sheet-rolltemplate-cabinet-prouesse .sheet-container {
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}


.sheet-rolltemplate-cabinet-prouesse .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height:1.4em;
}
.sheet-rolltemplate-cabinet-prouesse .sheet-content > div {
  padding: 5px;
}

.sheet-rolltemplate-cabinet-prouesse .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

.sheet-rolltemplate-cabinet-prouesse .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-cabinet-prouesse .sheet-content :nth-child(4n) {
  background:#EEE;
}

.sheet-rolltemplate-cabinet-prouesse .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-cabinet-prouesse .inlinerollresult,
.sheet-rolltemplate-cabinet-prouesse .inlinerollresult.importantroll,
.sheet-rolltemplate-cabinet-prouesse .inlinerollresult.fullcrit,
.sheet-rolltemplate-cabinet-prouesse .inlinerollresult.fullfail {
	border: 2px solid;
	border-color:black;
	background-color: black;
	color: #eee;
}