/* INTO THE DARK */
/* @import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap'); */

.sheet-darkmode .sheetform {
  background-color: #1f1f1f;
}

.sheetform {
  background-color: transparent;
}

.charsheet {
  font-family: 'Contrail One', sans-serif;
  --color_attribut_corps: #e42525f0;
  --color_attribut_ame: #c5a600; 
  --color_attribut_esprit: #4682B4; 
  --color_base: #000000;
  --border_talent: #00000085;
  --text_black: #333;
  color: var(--text_black);
  width: 825px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid var(--black);
  box-shadow: 2px 2px 5px 1px #000000ba;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/%23Feuille%20perso/Classic_20/images/background_feuille.webp);
  background-size: cover;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.charsheet button[type=action].button_talent::before,
.charsheet button[type=roll].button_talent::before,
.charsheet button[type=action].button_competence::before,
.charsheet button[type=roll].button_competence::before,
.charsheet button[type=action].button_initiative::before,
.charsheet button[type=roll].button_initiative::before {
	content: '';
}

.charsheet button[type=action].button_talent,
.charsheet button[type=roll].button_talent {
  width: 119px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 14px;
  text-align: right;
  line-height: 14px;
  margin-top: -5px;
  padding-right: 5px;
}

.charsheet button[type=action].button_competence,
.charsheet button[type=roll].button_competence {
  width: 95px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  margin-top: -7px;
}

.charsheet button[type=action].button_initiative,
.charsheet button[type=roll].button_initiative {
  width: 95px;
  height: 25px;
  border: none;
  padding: 5px;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: -12px;
  color: white;
}

.charsheet button[type=action].button_talent:hover,
.charsheet button[type=roll].button_talent:hover {
    margin-left: -1px;
}

.charsheet button[type=action].button_competence:hover,
.charsheet button[type=roll].button_competence:hover{
    margin-left: -2px;
}

.charsheet button[type=action].button_initiative:hover,
.charsheet button[type=roll].button_initiative:hover {
    margin-left: -2px;
    color: #a52e2e;
}

.initiative-haut {
  position: absolute;
  z-index: 2;
  margin-top: 9%;
  margin-left: 86%;
  transform: rotate(90deg);
}

.itd-container {
  font-family: 'Contrail One', sans-serif;
  width: 825px;
  padding-top: 20px;
}

.itd-logo-and-info {
  padding-bottom: 30px;
}

.itd-inner {
  text-align: center;
  font-size: 18px;
  margin: 0% 5% 0% 5%;
  display: block;
}

.itd-inner-text {
  margin: 25px 5% 25px 5%;
}

.itd-inner:after {
  content: "";
  display: table;
  clear: both;
}

span.rouge {
	color: var(--color_attribut_corps);
}

span.jaune {
	color: var(--color_attribut_ame);
}

span.bleu {
	color: var(--color_attribut_esprit);
}

span.rouge-souligne {
	color: var(--color_attribut_corps);
  text-decoration: underline;
}

span.jaune-souligne {
	color: var(--color_attribut_ame);
  text-decoration: underline;
}

span.bleu-souligne {
	color: var(--color_attribut_esprit);
  text-decoration: underline;
}

.span.info-xp {
  font-size: 14px;
}

.itd-logo-table-col-titre {
  float: left;
  width: 50%;
  text-align: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  margin-left: 40px;
  display: grid;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

.itd-logo-table-col1 {
  float: left;
  width: 50%;
  text-align: center;
  height: 180px;
  display: grid;
  align-items: center;
}

.itd-logo-table-col {
  float: left;
  width: 50%;
  text-align: center;
}

.itd-table-2col {
  float: left;
  width: 50%;
  text-align: center;
}

.itd-table-3col {
  float: left;
  width: 33.3%;
  text-align: center;
}

.itd-table-5col {
  float: left;
  width: 20%;
  text-align: center;
}

.itd-table-6col {
  float: left;
  width: 16%;
  text-align: center;
}

.itd-table-7col {
  float: left;
  width: 14%;
  text-align: center;
}

.itd-basic-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Contrail One', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.itd-input-basic-info {
  resize: none;
  display: inline-block;
  vertical-align: middle;
}

.input-basic-info {
  font-family: 'Contrail One', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff52;
  resize: none;
  display: inline-block;
  vertical-align: middle;
}

.itd-label-basic-info {
  font-family: 'Contrail One', sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;    
}

.itd-label-basic-info-col {
   position: relative;
   overflow: hidden;
   float: left;
   width: 35%;
   text-align: center;
   margin-top: 7px;
}
.input-basic-info-col {
   position: relative;
   overflow: hidden;
   float: left;
   width: 65%;
   text-align: center;
}

.itd-logo {
  width: 250px;
  height: 200px;
  text-align: center;
}

.itd-basic-attribute-cells {
  display: inline-block;
  height: 23px;
  text-align: center;
}

.itd-three-columns-td {
  width: 33.3%;
}

.itd-basic-attribute-corps,
.itd-basic-attribute-ame,
.itd-basic-attribute-esprit,
.itd-basic-attribute-initiative {
  font-family: 'Contrail One', sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.itd-basic-attribute-corps {
  color: var(--color_attribut_corps);
}

.itd-basic-attribute-ame {
  color: var(--color_attribut_ame);;
}

.itd-basic-attribute-esprit {
  color: var(--color_attribut_esprit);;
}

.itd-basic-attribute-esprit {
  color: var(--color_base);;
}

.itd-input-basic-attribute {
  width: 60px !important;
  height: 60px !important;
  font-size: 40px;
  text-align: center;
  font-family: 'Contrail One', sans-serif;
  border-color: black;
  background-color: transparent;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px 6px 0px #00000091;
}

.itd-attr-button {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.itd-basic-talent-corps,
.itd-basic-talent-ame,
.itd-basic-talent-esprit {
  font-family: 'Contrail One', sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.itd-basic-talent-corps {
  color: var(--color_attribut_corps);
}

.itd-basic-talent-ame {
  color: var(--color_attribut_ame);;
}

.itd-basic-talent-esprit {
  color: var(--color_attribut_esprit);;
}

.charsheet .itd-input-basic-talent {
  width: 30px !important;
  height: 30px !important;
  font-size: 16px;
  text-align: center;
  font-family: 'Contrail One', sans-serif;
  border-color: black;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  margin-top: -5px;
}

.itd-talent-button {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-top: -11px;
}

.wrapper_talent {
  display: grid;
  grid-template-columns: 18% 6% 17% 0% 4% 3% 0% 2% 17% 0% 4% 3% 0% 2% 17% 0% 4% 0% 0% 0%;
  grid-auto-rows: 25px;
  font-size: 14px;
  padding: 5px;
  border: 2px solid #00000061;
  box-shadow: 2px 2px 6px 0px #000000ed;
}

.titre_competence_liee {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  padding-right: 0px;
  font-size: 18px;
  margin-top: 2px;
}

.titre_talent_1 {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  padding-right: 10px;
  margin-top: 2px;
  border-bottom: 2px solid var(--border_talent);
}

.valeur_talent_1 {
  grid-column: 5;
  grid-row: 1;
  border-right: 2px solid var(--border_talent);
  border-bottom: 2px solid var(--border_talent);
  margin-top: 2px;
}

.titre_talent_2 {
  grid-column: 9;
  grid-row: 1;
  text-align: right;
  padding-right: 10px;
  margin-top: 2px;
  border-bottom: 2px solid var(--border_talent);
}

.valeur_talent_2 {
  grid-column: 11;
  grid-row: 1;
  border-right: 2px solid var(--border_talent);
  border-bottom: 2px solid var(--border_talent);
  margin-top: 2px;
}

.titre_talent_3 {
  grid-column: 15;
  grid-row: 1; 
  text-align: right;
  padding-right: 10px;
  margin-top: 2px;
  border-bottom: 2px solid var(--border_talent);
}

.valeur_talent_3 {
  grid-column: 17;
  grid-row: 1;
  border-right: 2px solid var(--border_talent);
  border-bottom: 2px solid var(--border_talent);
  margin-top: 2px;
}

.initiative {
  grid-column: 1/21;
  grid-row: 1;
  text-align: center;
  padding-right: 0px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.charsheet .itd-black-band {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 18px;
  background-color: black;
  display: table;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

.charsheet .itd-black-band-text {
  margin: 0% 5% 0% 5%;
  padding-top: 14px;
  text-align: center;
}

.itd-marker {
  width: 100%;
  height: 15px;
  border-bottom: 5px solid black;
  text-align: center;
}

.itd-marker-text {
  font-size: 24px;
  background-color: white;
  padding: 0 10px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/%23Feuille%20perso/Classic_20/images/background_feuille.webp);
  background-size: cover;
}

textarea {
  font-family: sans-serif;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  box-shadow: 3px 3px 5px 1px #000000a6;
  font-family: 'Contrail One', sans-serif;
}

.itd-experience-option {
  font-weight: bold;
  text-align: center;
}

/* CUSTOM CHECKBOX */
.charsheet .itd-checkbox-container {
  display: inline;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
}

/* Hide the browser's checkbox */
.charsheet .itd-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.charsheet .itd-checkbox-checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 3px 0px #000000a6;
}

.charsheet .itd-checkbox-container:hover input~.itd-checkbox-checkmark {
  background-color: #ccc;
}

.charsheet .itd-checkbox-container input:checked~.itd-checkbox-checkmark {
  background-color: black;
}

.charsheet .itd-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.charsheet .itd-checkbox-container input:checked~.itd-checkbox-checkmark:after {
  display: block;
}

/* Custom checkmark */
.charsheet .itd-checkbox-container .itd-checkbox-checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-color: #dcca00;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CUSTOM RADIO BUTTONS */
.charsheet .itd-radio-container {
  display: inline;
  position: relative;
  padding-left: 15px; /* 22px; outside roll20 */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.charsheet .itd-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.charsheet .itd-radio-checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #eee;
}

.charsheet .itd-radio-container:hover input~.itd-radio-checkmark {
  background-color: #ccc;
}

.charsheet .itd-radio-container input:checked~.protection-color {
  background-color: #018610;
}

.charsheet .itd-radio-container input:checked~.wound-color {
  background-color: #b70000;
}

.charsheet .itd-radio-container input:checked~.stress-color {
  background-color: #940094;
}

.charsheet .itd-radio-container input:checked~.zero-color {
  background-color: #404040;
}

.charsheet .itd-radio-container input:checked~.experience-color {
  background-color: #dcca00;
}

/* Hide indicator when not checked */
.charsheet .itd-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when checked */
.charsheet .itd-radio-container input:checked~.itd-radio-checkmark:after {
  display: inline;
}

/* Style the indicator */
.charsheet .itd-radio-container .itd-radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background: black;
}


/* ROLL TEMPLATE */
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-center {
  text-align: center;
  /* margin-left: 30px; */
  --echec_2: #ff0000;
  --echec_3: #ff006f;
  --echec_1: #dc00c9;
  --reussite_3: #009700;
  --reussite_2: #0082ff;
  --reussite_1: #fffe00;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-background {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/ddd2da31698f6c31e797e674e934a9ea8621b426/.Images/background_roll.jpg) top left;
  background-repeat: no-repeat;
  border-spacing: 0;
  max-height: 200px;
  min-height: 130px;
  max-width: 250px;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 20px;
  border-radius: 10px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-header {
  color: #ffffffde;
  font-size: 20px;
  font-family: 'Contrail One';
  letter-spacing: 0px;
  word-wrap: break-word;
  /* margin-top: 25px; */
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
  background-color: transparent;
  color: #ffffffde;
  font-size: 40px;
  font-family: 'Contrail One';
  letter-spacing: 0px;
  padding: 15px;
  margin-top: 25px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec{
  color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-result {
  font-size: 36px;
  font-family: 'Contrail One';
  padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite

 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Contrail One';
  padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec{
  color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-succeeds {
  color: #148c00;
}

.sheet-rolltemplate-itd .sheet-template-itd-misses {
  color: #a90000;
}

.sheet-rolltemplate-itd .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}

.sheet-rolltemplate-itd-header .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.fullcrit {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.fullfail {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.importantroll {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}