.rond_carte {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Patient13/image/rond_carte.png);
}

.recto {
    width: 500px;
    height: 800px;
    background:#e3e4e4ed;
    position: relative;
    clip-path: polygon(10% 0, 90% 0, 100% 9%, 100% 100%, 0 100%, 0 9%);
  }

.shadow {
    filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.712));
  }

