@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

/* font-family: "Shadows Into Light Two", cursive; */

/* Style de la page principale  */

.charsheet {
    margin: 0px;
    border-radius: 0px;
    color: #000000eb;
    font-family: Oswald;
    font-weight: bolder;
    font-size: 13px;
}

body.sheet-darkmode .charsheet {
    background-color: #1f1f1f;
    color: #000000eb;
}

.retourner_carte {
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 300px;
    margin-left: 520px;
    margin-top: 32px;
    font-family: "Shadows Into Light Two", cursive;
    font-size: 22px;
    transform: rotate(3deg);
}

body.sheet-darkmode .retourner_carte {
    color: #ffffffbd;
}

.fleche {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 100px;
    margin-top: 70px;
    margin-left: 538px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Patient13/image/fleche.png);
    background-size: 100px 40px;
    transform: rotate(-19deg);
    opacity: 0.7;
}

body.sheet-darkmode .fleche {
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Patient13/image/fleche_blanche.png);
    opacity: 0.7;
}


.rond_carte {
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 60px;
    margin-top: 1px;
    margin-left: 220px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Patient13/image/rond_carte.png);
    background-size: 60px 60px;
}

.portrait_patient {
    position: absolute;
    z-index: 1;
    height: 275px;
    width: 200px;
    margin-top: 180px;
    margin-left: 275px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/Patient13/image/fond_portrait.png);
    background-size: 200px 275px;
    transform: rotate(-3deg);
    box-shadow: 3px 3px 11px 0px #00000082;
}

img.portrait {
    width: 170px;
    height: 170px;
    margin-top: 45px;
    margin-left: 15px;
    box-shadow: 0px 0px 5px 2px #0000008c;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* Retournement de la carte */

.recto,
.verso {
    display: none;
}

.charsheet .page[value="1"] ~ div.recto,
.charsheet .page[value="2"] ~ div.verso {
    display: block;
}


.recto,
.verso {
    width: 500px;
    height: 810px;
    background:#e3e4e4ed;
    position: relative;
    clip-path: polygon(10% 0, 90% 0, 100% 7%, 100% 100%, 0 100%, 0 7%);
  }

.shadow {
    filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.712));
  }

body.sheet-darkmode .shadow {
    filter: drop-shadow(0px 0px 2px white);
  }

/* Structure page recto */

.wrapper_recto {  
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 250px 190px;
    grid-auto-rows: 20px;
}

div.surnom {
    grid-column: 1;
    grid-row: 1 / 5;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
}

div.matricule {
	grid-column: 2;
	grid-row: 1/3;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

div.age {
	grid-column: 2;
	grid-row: 3/5;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

div.apparence {
    grid-column: 1/3;
    grid-row: 5 / 9;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.caractere {
    grid-column: 1/3;
    grid-row: 9 / 15;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.medecin {
    grid-column: 1/3;
    grid-row: 15 / 17;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.signe {
    grid-column: 1/3;
    grid-row: 17 / 22;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.contact {
    grid-column: 1/3;
    grid-row: 22 / 26;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.allies {
    grid-column: 1/3;
    grid-row: 26 / 28;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.ennemis {
    grid-column: 1/3;
    grid-row: 28 / 30;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

div.effets_personnels {
    grid-column: 1/3;
    grid-row: 30 / 36;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

/* Structure page recto */

.wrapper_verso_titre {  
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 250px 50px 140px;
    grid-auto-rows: 20px;
    margin-bottom: -15px;
}

.wrapper_verso {  
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 240px 10px 40px 10px 140px;
    grid-auto-rows: 40px;
}

.traits_titre {
    grid-column: 1;
    grid-row: 1/4;
    padding-left: 5px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.traits_plus_moins {
    grid-column: 2;
    grid-row: 1/4;
    padding-left: 5px;
    border: none;
}

.traits {
    grid-column: 1;
    grid-row: 1;
    padding-left: 5px;
    border: none;
    border-bottom: 2px dotted black;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
}

.traits_valeur {
    grid-column: 3;
    grid-row: 1;
    padding-left: 5px;
    border: none;
    border-bottom: 2px dotted black;
    display: flex;
    align-items: center;
}

.traits_box {
    grid-column: 5;
    grid-row: 1;
    padding-left: 5px;
    border: none;
    border-bottom: 2px dotted black;
    display: flex;
    align-items: center;
}



/* Systeme trait  */

div.trait_1_1_zero,
div.trait_1_1_plus,
div.trait_1_1_moins {
    display: none;
}

.charsheet .trait_1_1[value="0"] ~ div.trait_1_1_zero,
.charsheet .trait_1_1[value="1"] ~ div.trait_1_1_plus,
.charsheet .trait_1_1[value="2"] ~ div.trait_1_1_moins {
    display: block;
}

/* Boutton */

.charsheet button[type=action].retourner_page::before,
.charsheet button[type=action].trait::before,
.charsheet button[type=roll]::before {
    content: '';
  }

.charsheet button[type=action].retourner_page {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: "Shadows Into Light Two", cursive;
    font-size: 22px;
    background: none;
}

.charsheet button[type=action].retourner_page:hover {
    margin-left: 1px;
	padding: 0px;
	background-position: 0 0px;
}

.charsheet button[type=action].trait,
.charsheet button[type=action].trait_plus,
.charsheet button[type=action].trait_moins {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    background: none;
}