@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


.charsheet {
    --black: #000002;
    --white: #fcfcfd;
	--font_playfair: "Playfair", serif;
    --borderdev: 1px solid red;
    --couleur_dotted: #00000078;
    --text_input: #000000bd;
    /* --borderdev: none; */
    font-family: "Playfair", serif;
    color: var(--black);
    font-size: 19px;
    line-height: 25px;
    margin: 0px;
}

.sheetform {
    background-color: #ffffff;
    width: 1100px;
}

.sheet-darkmode .sheetform {
    background-color: #ffffff;
}

/* body.sheet-darkmode .charsheet {
    --black: #000000;
    --white: #ffffff;
    color: var(--black);
} */

::placeholder {
  color: rgba(128, 128, 128, 0.548);
  font-size: 13px;
  margin-top: 0px;
}

.charsheet input {  
    border: none;
    outline: none;
    resize: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    font-family: "Playfair", serif;
    color: var(--black);
    font-size: 18px;
    line-height: 25px;
    background: transparent;
    z-index: 1;
}

.charsheet input.input_dotted,
.charsheet input.input_dotted2 {  
    width: 100% !important;
    border-bottom: 1px dotted var(--couleur_dotted);
    height: 20px !important;
    border-radius: 1px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 2px;
    color: var(--text_input);
    letter-spacing: -0.7px;
}

.charsheet input.input_dotted2 { 
    height: 21px !important;
}

.charsheet input.input_carac {  
    width: 50px !important;
    height: 28px;
    border: none;
    border-radius: 1px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    font-size: 25px;
    padding: 0;
    padding-bottom: 6px;
}

.charsheet textarea {
    border: 1px solid #0000000f;
    outline: none;
    resize: none;
    background-color: #00000003;
    /* background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/area_background20.png); */ 
}

.charsheet textarea.area_talents {
    width: 98%;
    height: 165px;
}

input[type="checkbox"] {    
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    margin: 0;
    font: inherit;
    color: var(--white);
    width: 18px;
    height: 18px !important;
    border: 2px solid var(--white);
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-color: var(--white);
    border: 2px solid var(--white);
}

label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 18px !important;
    height: 18px;
    padding: 0px !important;
    margin: 0 !important;
}

label::before {
    content: "";
    width: 18px;
    height: 18px;
  }

input[type="checkbox"]:checked + label::before {
    content: "✔";
    display: flex;
    justify-content: center;
    color: var(--black);
    font-size: 17px;
    font-weight: bold;
    margin-top: -19px;
  }

input[type="checkbox"]:focus {
  outline: none;
}

.charsheet input[type=number]::-webkit-inner-spin-button,
.charsheet input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.charsheet button[type=action].button_texte::before,
.charsheet button[type=roll].button_texte::before {
	content: '';
}

.charsheet button[type=action].button_texte,
.charsheet button[type=roll].button_texte {
  width: 119px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
}

.charsheet button[type=action].button_texte:hover,
.charsheet button[type=roll].button_texte:hover {
    margin-left: -1px;
}

/* Cadre des pages */

div.personnage {  
    width: 830px;
    height: 1174px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/background_personnage2.webp);    
	/* background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/calque_01.webp); */
    background-size: cover;
	background-repeat: no-repeat;
}

div.equipement {  
    width: 830px;
    height: 1174px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/calque_2.webp);
    background-size: cover;
	background-repeat: no-repeat;
}

div.parcours_de_vie {  
    width: 1087px;
    height: 769px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/calque_03.webp);
    background-size: cover;
	background-repeat: no-repeat;
}

div.personnes_marquantes {  
    width: 1087px;
    height: 769px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/calque_04.webp);
    background-size: cover;
	background-repeat: no-repeat;
}

/* Gestion des affichage */

div.personnage,
div.equipement,
div.parcours_de_vie,
div.personnes_marquantes {
    display: none;
}

.charsheet .choix_page[value="0"] ~ div.personnage,
.charsheet .choix_page[value="1"] ~ div.equipement,
.charsheet .choix_page[value="2"] ~ div.parcours_de_vie,
.charsheet .choix_page[value="3"] ~ div.personnes_marquantes {
    display: block;
}

/* Structure générale de la page_personnage */

.wrapper_page_personnage {
    display: grid;
    grid-template-columns: repeat(83, 10px);;
    grid-auto-rows: 10px;
	/* border: var(--borderdev); */
}

.page1_zone_personnage {
    grid-column: 6 / 43;
    grid-row: 16 / 32;
    /* border: var(--borderdev); */
    transform: rotate(1deg);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.page1_zone_familier {
    grid-column: 43 / 81;
    grid-row: 17 / 34;
    /* border: var(--borderdev); */
    transform: rotate(1deg);
    margin-top: 3px;
    margin-left: 5px;
}

.page1_zone_caracteristiques {
    grid-column: 7 / 27;
    grid-row: 45 / 71;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
    margin-left: 10px;
}

.page1_zone_competences {
    grid-column: 29 / 48;
    grid-row: 44 / 71;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
    margin-top: 7px;
    margin-left: 12px;
}

.page1_zone_attributs {
    grid-column: 51 / 81;
    grid-row: 44 / 86;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
    margin-left: 5px;
    margin-top: 1px;
}

.page1_zone_talents {
    grid-column: 4 / 44;
    grid-row: 76 / 95;
    /* border: var(--borderdev); */
    transform: rotate(-1.5deg);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.page1_zone_artifices {
    grid-column: 3 / 46;
    grid-row: 100 / 114;
    /* border: var(--borderdev); */
    transform: rotate(-1.5deg);
    margin-left: 10px;
    margin-top: -3px;
}

.page1_zone_dons {
    grid-column: 47 / 80;
    grid-row: 91 / 108;
    /* border: var(--borderdev); */
    transform: rotate(-1.5deg);
    margin-left: 3px;
}

.page1_zone_apprentissage {
    grid-column: 50 / 80;
    grid-row: 112 / 117;
    /* border: var(--borderdev); */
    transform: rotate(-3deg);
}

/* Structure générale de la page_équipement */

.wrapper_page_equipement {
    display: grid;
    grid-template-columns: repeat(83, 10px);;
    grid-auto-rows: 10px;
	/* border: var(--borderdev); */
}

.page2_zone_personnage {
    grid-column: 59 / 80;
    grid-row: 2 / 11;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
}

.page2_zone_couronnes {
    grid-column: 5 / 35;
    grid-row: 12 / 17;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
}

.page2_zone_equipement {
    grid-column: 3 / 80;
    grid-row: 17 / 35;
    /* border: var(--borderdev); */
    transform: rotate(-0.5deg);
}

.page2_zone_armes {
    grid-column: 6 / 75;
    grid-row: 41 / 49;
    /* border: var(--borderdev); */
    transform: rotate(-0.3deg);
}

.page2_zone_projectiles {
    grid-column: 8 / 75;
    grid-row: 55 / 64;
    /* border: var(--borderdev); */
    transform: rotate(0.6deg);
}

.page2_zone_artillerie {
    grid-column: 5 / 75;
    grid-row: 69 / 78;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
}

.page2_zone_armures {
    grid-column: 13 / 78;
    grid-row: 84 / 90;
    /* border: var(--borderdev); */
    transform: rotate(0deg);
}

.page2_zone_bouclier {
    grid-column: 5 / 79;
    grid-row: 95 / 101;
    /* border: var(--borderdev); */
    transform: rotate(1deg);
}

.page2_zone_casques {
    grid-column: 36 / 79;
    grid-row: 107 / 113;
    /* border: var(--borderdev); */
    transform: rotate(-0.5deg);
}

/* Structure générale de la page_parcours_de_vie */

.wrapper_page_parcours_de_vie {
    display: grid;
    grid-template-columns: repeat(110, 10px);
    grid-auto-rows: 10px;
    /* border: var(--borderdev); */
}

.page3_zone_nom {
    grid-column: 91 / 109;
    grid-row: 5 / 16;
    /* border: var(--borderdev); */
}

.page3_zone_tableau {
    grid-column: 8 / 105;
    grid-row: 24 / 73;
    /* border: var(--borderdev); */
}

/* Structure générale de la page personnes_marquantes */

.wrapper_page_personnes_marquantes {
    display: grid;
    grid-template-columns: repeat(110, 10px);
    grid-auto-rows: 10px;
    /* border: var(--borderdev); */
}

.page4_zone_nom {
    grid-column: 4 / 28;
    grid-row: 4 / 12;
    /* border: var(--borderdev); */
    transform: rotate(-1deg);
}

.page4_zone_tableau {
    grid-column: 7 / 101;
    grid-row: 19 / 74;
    /* border: var(--borderdev); */
}


/* Wrapper interne Page personnage et familier */

.page1_zone_personnage_line {
    display: flex;
    white-space: nowrap;
    letter-spacing: -0.7px;
}

/* Wrapper interne Page caracteristiques competences et attributs */

.wrapper_page1_zone_caracteristiques,
.wrapper_page1_zone_competences,
.wrapper_page1_zone_attributs,
.wrapper_page1_zone_attributs_blessure,
.wrapper_page1_zone_XP {
    display: grid;
    grid-template-columns: 49% 4% 30%;
    grid-auto-rows: 37px;
    color: var(--white);
    /* border: var(--borderdev); */
}

.wrapper_page1_zone_competences {
    grid-template-columns: 61% 4% 30%;
}

.wrapper_page1_zone_attributs {
    grid-template-columns: 28% 0% 30% 4% 30%;
}

.wrapper_page1_zone_attributs_blessure {
    grid-template-columns: 80% 0% 10%;
    margin-left: -15px;
}

.wrapper_page1_zone_XP {
    grid-template-columns: 75% 5% 20%;
    /* border: var(--borderdev); */
}

.page1_zone_caracteristiques_titre,
.page1_zone_competences_titre,
.page1_zone_attributs_blessure_titre,
.page1_zone_xp_titre {
    grid-column: 1;
    grid-row: 1;
    /* border: var(--borderdev); */
    letter-spacing: -0.4px;
}

.page1_zone_caracteristiques_valeur,
.page1_zone_competences_valeur,
.page1_zone_attributs_blessure_valeur,
.page1_zone_xp_valeur {
    grid-column: 3;
    grid-row: 1;
    /* border: var(--borderdev); */
}

.page1_zone_attributs_titre {
    grid-column: 1/4;
    grid-row: 1;
    /* border: var(--borderdev); */
    letter-spacing: -0.4px;
}

.page1_zone_attributs_demi_titre {
    grid-column: 1/3;
    grid-row: 1;
    /* border: var(--borderdev); */
    letter-spacing: -0.4px;
}

.page1_zone_attributs_details {
    grid-column: 3;
    grid-row: 1;
    letter-spacing: -0.4px;
    font-style: italic;
    /* border: var(--borderdev); */
}

.page1_zone_attributs_valeur {
    grid-column: 5;
    grid-row: 1;
    /* border: var(--borderdev); */
}

.page1_zone_xp_titre {
    grid-column: 1;
    grid-row: 1;
    /* border: var(--borderdev); */
    letter-spacing: -0.4px;
}

.page1_zone_xp_valeur {
    grid-column: 3;
    grid-row: 1;
    margin-top: 10px;
    margin-left: -5px;
}

/* Roll template */
.sheet-rolltemplate-thanatos{
    margin-left: 0px;
	padding-top: 0px;
}

.sheet-rolltemplate-thanatos .sheet-container {
    border: 2px solid;
    border-color: var(--header-bg-color);
    width: 220px;
    height: 377px;
    box-shadow: 3px 3px 7px 0px #000000db;
}

.sheet-rolltemplate-thanatos .sheet-container {
    --header-bg-color: rgb(0, 0, 0);
    --header-text-color: #FFF;
	border: 2px solid;
    border-color: var(--header-bg-color);
    width: 220px;
    height: 170px;
    box-shadow: 3px 3px 7px 0px #000000db;
	border-radius: 10px;
}
