@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Metamorphous&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* font-family: "Metamorphous", serif; */
/* font-family: "Jim Nightshade", serif; */

.charsheet {
  /* font-family: "Playfair", serif; */
  font-family: "Metamorphous", serif;
  color: var(--black);
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 18px;
  margin: 0px;
  --black: #000002;
  --white: #fcfcfd;
  --font_playfair: "Playfair", serif;
  --color_dev: rgba(255, 0, 0, 0.062);
  --text_input_info: #a20303d4;
  --hover_bouton: #a20303d4;

  --couleur_ligne: #000000e5;
  --text_input: #000000bd;
  --color_border_equipement: #000000d9;
  --color_border_parcours_personnes: #000000d9;
  --color_ligne_menu: #00000078;
  --color_border_button: #595959;    
  --color_background_button: #fcfcfd;
  --color_background_button_selected: #000000ed;    
  --color_text_button: #0000009e;
  --color_text_button_selected: #fcfcfd;
  --color_button_hover: #d7d2d2;
  --color_text_hover: #000000;
  --color_ombre_button: #575757a8;
}

/* .sheet-darkmode .charsheet {
  --color_ligne_menu: #dddddd;
  --color_border_button: #595959;    
  --color_background_button: #0c0c0c;
  --color_background_button_selected: #fcfcfd;    
  --color_text_button: #fdfdfdbd;    
  --color_text_hover: #fcfcfd;
  --color_text_button_selected: #000000ed;
  --color_button_hover: #292929;
  --color_ombre_button: #2f2f2fa8;
} */

.sheetform {
  background-color: #ffffff;
  width: auto;
}

.sheet-darkmode .sheetform {
  background-color: #ffffff00;
}

::placeholder {
  color: rgba(128, 128, 128, 0.548);
  font-size: 13px;
  margin-top: 0px;
}

span.picto {
  font-family: 'pictos';
}

span.D20 {
  font-family: 'dicefontd20';
  font-size: 32px;
}

img.portrait {
  border-radius: 120px;
  box-shadow: 0px 0px 14px 2px black;
}

.charsheet input {  
  border: none;
  outline: none;
  resize: none;
  padding: 0px;
  cursor: pointer;
  overflow: hidden;
  font-family: "Playfair", serif;
  color: var(--black);
  font-size: 16px;
  line-height: 25px;
  background: white;
  z-index: 1;
}

.charsheet input.input_ligne,
.charsheet input.input_ligne_droite { 
  width: 100% !important;
  border-bottom: 1px dotted var(--couleur_ligne);
  height: 20px !important;
  border-radius: 1px;
  padding-left: 2px;
  padding-right: 5px;
  color: var(--text_input_info);
  letter-spacing: 0px;
  background: none;
  padding-top: 3px;
  font-size: 14px;
}

.charsheet input.input_ligne_droite {
  text-align: right;
}

.charsheet input.input_carac,
.charsheet input.input_carac_lock,
.charsheet input.input_comp,
.charsheet input.input_comp_lock,
.charsheet input.input_demi_carac,
.charsheet input.input_carac_long,
.charsheet input.input_carac_pnj,
.charsheet input.input_demi_carac_pnj,
.charsheet input.input_carac_pnj_long {  
  width: 50px !important;
  height: 28px;
  border: none;
  border-radius: 1px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  font-size: 20px;
  padding: 0;
  padding-bottom: 6px;
}

.charsheet input.input_carac {
  width: 78px !important;
  height: 67px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: var(--text_input_info);
  text-align: center;
  font-size: 15px;
  padding: 0;
  padding-bottom: 0px;
  margin-top: 0px;
  font-family: 'Metamorphous';
  font-weight: bold;
}

.charsheet input.input_derivees,
.charsheet input.input_derivees_lock { 
  width: 100% !important;
  border-bottom: 1px dotted var(--couleur_ligne);
  height: 25px !important;
  border-radius: 1px;
  color: var(--black);
  letter-spacing: 0px;
  background: none;
  text-align: center;
  font-size: 20px;
  font-family: 'Metamorphous';
}

.charsheet input.input_derivees_lock { 
  border: none;
  cursor: default;
}


.charsheet input.input_carac_lock {
  cursor: default;
}

.charsheet input.input_comp {
  width: 35px !important;
  height: 35px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: transparent;
  color: var(--text_input_info);
  text-align: center;
  font-size: 15px;
  padding: 0;
  padding-bottom: 0px;
  margin-top: 0px;
  font-family: 'Metamorphous';
  font-weight: bold;
}

.charsheet input.input_comp_double {
  width: 35px !important;
  height: 80px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: var(--text_input_info);
  text-align: center;
  font-size: 15px;
  padding: 0;
  padding-bottom: 0px;
  margin-top: 45px;
  font-family: 'Metamorphous';
  font-weight: bold;
}

.charsheet input.input_comp_lock {
  width: 35px !important;
  height: 35px;
  border: 2px solid #010101d4;
  border-radius: 14px;
  background-color: #5d0202;
  color: #fdfdfdfc;
  text-align: center;
  font-size: 15px;
  padding: 0;
  padding-bottom: 0px;
  margin-top: 0px;
  font-family: 'Metamorphous';
  cursor: default;
}

.charsheet input.input_carac_pnj,
.charsheet input.input_demi_carac_pnj,
.charsheet input.input_carac_pnj_long {
  height: 23px;
  font-size: 22px;
  padding-bottom: 3px;
}

.charsheet input.input_demi_carac,
.charsheet input.input_demi_carac_pnj {  
  width: 28px !important;
}

.charsheet input.input_carac_long,
.charsheet input.input_carac_pnj_long {  
  width: 81px !important;
}

div.fond_blanc {  
  width: 81px;
  background: white;
}

.charsheet input.input_cadre {  
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--black);
}

.charsheet select.choix_custom {
  width: 123px;
  height: 33px;
  letter-spacing: -0.7px;
  border: none;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  padding: 0;
  padding-right: 0px;
  margin: 0;
  background: transparent;
  color: var(--black);
  font-size: 19px;
  font-family: "Jim Nightshade";
  padding-top: 2px;
}


input[type="checkbox"] {    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--white);
  margin: 0;
  font: inherit;
  color: var(--white);
  width: 18px;
  height: 18px !important;
  border: 2px solid var(--white);
  border-radius: 1px;
}

input[type="checkbox"]:checked {
  background-color: var(--white);
  border: 2px solid var(--white);
}

label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  width: 18px !important;
  height: 18px;
  padding: 0px !important;
  margin: 0 !important;
}

label::before {
  content: "";
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked + label::before {
  content: "✔";
  display: flex;
  justify-content: center;
  color: var(--black);
  font-size: 17px;
  font-weight: bold;
  margin-top: -19px;
}

input[type="checkbox"]:focus {
  outline: none;
}

.charsheet input[type=number]::-webkit-inner-spin-button,
.charsheet input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.charsheet button[type=action].button_texte::before,
.charsheet button[type=roll].button_texte::before,
.charsheet button[type=action].button_texte_noir::before,
.charsheet button[type=roll].button_texte_noir::before,
.charsheet button[type=action].button_annonce::before,
.charsheet button[type=roll].button_annonce::before,
.charsheet button[type=action].button0::before,
.charsheet button[type=action].button1::before,
.charsheet button[type=action].button2::before,
.charsheet button[type=action].button3::before,
.charsheet button[type=action].button4::before,
.charsheet button[type=action].button5::before,
.charsheet button[type=action].button6::before,
.charsheet button[type=action].button_sens_carte::before,
.charsheet button[type=action].button_carac::before,
.charsheet button[type=action].button_comp::before,
.charsheet button[type=action].button_show::before {
	content: '';
}

.charsheet button[type=action].button_texte,
.charsheet button[type=roll].button_texte,
.charsheet button[type=action].button_texte_noir,
.charsheet button[type=roll].button_texte_noir {
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
  width: auto !important;
  text-align: left;
  height: 29px;
  border: none;
  border-radius: 1px;
  color: var(--black);
  font-size: 16px;
  line-height: 25px;
  margin-top: -2px;
  display: flex;
  align-items: center;
}

.charsheet button[type=action].button_show {
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  margin-top: -7px;
  width: auto;
  font-size: 18px;
  color: #fdfdfd30;
  margin-left: 14px;
}

.charsheet button[type=action].button_carac {
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
  width: auto !important;
  text-align: left;
  height: 29px;
  border: none;
  border-radius: 1px;
  color: var(--black);
  font-size: 15px;
  line-height: 25px;
  margin-top: -2px;
  font-family: "Metamorphous", serif;
  font-weight: bold;
  text-align: center;
}

.charsheet button[type=action].button_comp {
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
  width: auto !important;
  height: 20px;
  border: none;
  border-radius: 1px;
  color: var(--black);
  font-size: 19px;
  font-family: "Jim Nightshade";
  padding-top: 2px;
}

.charsheet button[type=action].button_texte_noir,
.charsheet button[type=roll].button_texte_noir {
  color: var(--black);
}

.charsheet button[type=action].button0,
.charsheet button[type=action].button1,
.charsheet button[type=action].button2,
.charsheet button[type=action].button3,
.charsheet button[type=action].button4,
.charsheet button[type=action].button5,
.charsheet button[type=action].button6,
.charsheet button[type=action].button_sens_carte {
  box-shadow: none;
  text-shadow: none;
  background: var(--color_background_button);
  text-align: left;
  height: 19px;
  border: 1px solid var(--color_border_button);
  color: var(--color_text_button);
  font-size: 14px;
  margin-left: -7px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  padding-right: 15px;
  padding-left: 10px;
  box-shadow: -4px 1px 6px 0px var(--color_ombre_button);
}

.charsheet button[type=action].button_texte:hover,
.charsheet button[type=roll].button_texte:hover,
.charsheet button[type=action].button_texte_noir:hover,
.charsheet button[type=roll].button_texte_noir:hover {
  font-weight: bold;
}

.charsheet button[type=action].button_carac:hover,
.charsheet button[type=action].button_comp:hover {
  color: var(--hover_bouton);
}

.charsheet button[type=action].button0:hover,
.charsheet button[type=action].button1:hover,
.charsheet button[type=action].button2:hover,
.charsheet button[type=action].button3:hover,
.charsheet button[type=action].button4:hover,
.charsheet button[type=action].button5:hover,
.charsheet button[type=action].button6:hover,
.charsheet button[type=action].button_sens_carte:hover {
  color: var(--color_text_hover);
}

.charsheet button[type=action].button_show:hover {
  color: var(--white);
}

.charsheet button[type=action].button_annonce,
.charsheet button[type=roll].button_annonce {  
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	background: none;
	width: 100%;
	text-align: center;
	border: none;
	border-radius: 1px;
	font-size: 19px;
	margin-top: -2px;
	font-family: "pictos";
	font-size: 16px;
	color: var(--text_input);
}

.page1 {  
  width: 820px;
  min-height: 500px;
  height: auto;
  background: rgb(226, 226, 226);
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/background-parchemin.webp);
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  margin-left: -14px;
}

.page2 {
  width: 830px;
  height: auto;
  background: rgb(226, 226, 226);
  border: 2px solid rgba(255, 0, 0, 0.603);
}

/* Affichage des page dynamique */
div.page1,
div.page2,
div.zone_talents,
div.zone_armes {
    display: none;
}

.charsheet .choix_page[value="0"] ~ div.page1,
.charsheet .choix_page[value="1"] ~ div.page2,
.charsheet .choix_page[value="2"] ~ div.zone_talents,
.charsheet .choix_page[value="3"] ~ div.zone_armes {
    display: block;
}

/* Reduction des cadres */
div.cadre_info,
div.cadre_info_reduit,
div.cadre_caracteristiques,
div.cadre_caracteristiques_reduit,
div.cadre_competence,
div.cadre_competence_reduit {
  display: none;
}

.charsheet .voir_info[value="0"] ~ div.cadre_info,
.charsheet .voir_info[value="1"] ~ div.cadre_info_reduit,
.charsheet .voir_carac[value="0"] ~ div.cadre_caracteristiques,
.charsheet .voir_carac[value="1"] ~ div.cadre_caracteristiques_reduit,
.charsheet .voir_competence[value="0"] ~ div.cadre_competence,
.charsheet .voir_competence[value="1"] ~ div.cadre_competence_reduit {
    display: block;
}



/* Structure générale de la page_personnage */
.wrapper_page_personnage {
  display: grid;
  grid-template-columns: repeat(83, 10px);;
  grid-auto-rows: 10px;
}

.wrapper_page_1 {
  display: grid;
  grid-template-columns: repeat(83, 1fr); /* Colonnes dynamiques */
  grid-auto-rows: auto; /* Lignes ajustées au contenu */
  gap: 10px; /* Espacement entre les colonnes et les lignes */
  width: 100%; /* Adapte la largeur totale à celle du conteneur parent */
  box-sizing: border-box; /* Inclut le padding/border dans la largeur */
}

.cadre_titre {
  grid-column: 6 / 79;
  grid-row: 1 / 22;
  border: 2px solid #00000087;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #000000c4;
  background: #ffffff52;
  border-radius: 10px;
}

.cadre_info,
.cadre_info_reduit {
  grid-column: 1 / 83;
  border: 2px solid #00000087;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #000000c4;
  background: #ffffff52;
  border-radius: 10px;
  margin-top: 35px;
}

.cadre_caracteristiques,
.cadre_caracteristiques_reduit {
  grid-column: 1 / 83;
  border: 2px solid #00000087;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #000000c4;
  background: #ffffff52;
  border-radius: 10px;
  margin-top: 35px;
}

.cadre_competence,
.cadre_competence_reduit {
  grid-column: 1 / 83;
  border: 2px solid #00000087;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #000000c4;
  background: #ffffff52;
  border-radius: 10px;
  margin-top: 35px;
}

.wrapper_zone_personnage {
  display: grid;
  grid-template-columns: repeat(83, 10px);
  grid-auto-rows: 10px;
}

.zone_info_titre,
.zone_caracteristiques_titre,
.zone_competence_titre {
  grid-column: 1 / 36;
  grid-row: 1 / 4;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/cadre3.png);
  background-size: cover;
  margin-top: -33px;
  margin-bottom: 12px;
  color: var(--white);
  font-family: "Metamorphous", serif;
  display: flex;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  padding-left: 90px;
  padding-top: 18px;
  transform: rotate(1deg);
  font-size: 22px;
}

.zone_caracteristiques_titre {
  grid-column: 45 / 79;
  grid-row: 1 / 4;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/cadre4.png);
  padding-left: 31px;
  padding-top: 18px;
  transform: rotate(-1deg);
}

.zone_info_gauche {
  grid-column: 1 / 32;
  grid-row: 4 / 27;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.zone_info_avatar {
  grid-column: 32 / 49;
  grid-row: 4 / 27;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.zone_info_background {
  grid-column: 1 / 80;
  grid-row: 28 / 39;
  margin-top: -8px;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-right: 80px;
}

.zone_info_droite {
  grid-column: 49 / 80;
  grid-row: 4 / 27;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
  text-align: right;
}

.wrapper_zone_carac {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5px);
  grid-auto-rows: 60px;
}

.bloc_pentacle {
  grid-column: 1 / 91;
  grid-row: 1 / 9;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.caracteristiques_pentacle {
  grid-column: 15/75;
  grid-row: 2/7;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/hexagram.png);
  background-size: contain;
}

.caracteristiques_force_data {
  grid-column: 37 / 53;
  grid-row: 1 / 3;
  width: 76px;
  height: 72px;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_dexterite_data {
  grid-column: 9;
  grid-row: 2;
  width: 76px;
  height: 72px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_constitution_data {
  grid-column: 66;
  grid-row: 2;
  width: 76px;
  height: 72px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: -6px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_intelligence_data {
  grid-column: 69;
  grid-row: 5;
  width: 76px;
  height: 72px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_charisme_data {
  grid-column: 6;
  grid-row: 5;
  width: 76px;
  height: 72px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_volonte_data {
  grid-column: 37;
  grid-row: 6;
  width: 76px;
  height: 72px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/border_carac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.caracteristiques_force_titre {
  grid-column: 30;
  grid-row: 1;
  width: 150px;
  height: 25px;
  margin-top: -15px;
  margin-bottom: 0px;
  margin-left: -3px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_dexterite_titre {
  grid-column: 3;
  grid-row: 1;
  width: 150px;
  height: 25px;
  margin-top: 41px;
  margin-bottom: 0px;
  margin-left: -7px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_constitution_titre {
  grid-column: 59;
  grid-row: 1;
  width: 150px;
  height: 25px;
  margin-top: 41px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_intelligence_titre {
  grid-column: 64;
  grid-row: 7;
  width: 150px;
  height: 25px;
  margin-top: -43px;
  margin-bottom: 0px;
  margin-left: -11px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_charisme_titre {
  grid-column: 1;
  grid-row: 7;
  width: 150px;
  height: 25px;
  margin-top: -43px;
  margin-bottom: 0px;
  margin-left: -13px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_volonte_titre {
  grid-column: 30;
  grid-row: 8;
  width: 150px;
  height: 25px;
  margin-top: -9px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.caracteristiques_separateur {
  grid-column: 82;
  grid-row: 1;
  width: 115px;
  height: 498px;
  margin-top: -18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_croix.png);
  background-size: cover;
}

.caracteristiques_derivees {
  grid-column: 93 / 156;
  grid-row: 1 / 9;
  margin-top: 24px;
  margin-bottom: 71px;
  margin-left: 1px;
  margin-right: 0px;
  box-shadow: 2px 1px 6px 2px #0000009c;
  padding: 20px;
  padding-left: 35px;
  border-radius: 0px 5px 5px 0px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/background-parchemin.jpg);
  background-size: cover;
}

.wrapper_zone_derivees {
  display: grid;
  grid-template-columns: 0% 66% 1% 10% 2% 10% 4% 10% 0%;
  grid-auto-rows: 32px;
  font-size: 24px;
  font-family: "Jim Nightshade";
}

.derivees_titre {
  grid-column: 2;
  grid-row: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.derivees_data {
  grid-column: 4;
  grid-row: 1;
  margin-top: -4px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: 0px;
}

.derivees_sur {
  grid-column: 6;
  grid-row: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 15px;
}

.derivees_max {
  grid-column: 8;
  grid-row: 1;
  margin-top: -4px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: 0px;
}

.derivees_bonus {
  grid-column: 4/9;
  grid-row: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.derivees_separateur {
  grid-column: 1;
  grid-row: 1;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: -8px;
  margin-right: 0px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_horizontal_1.png);
  background-size: contain;
  height: 13px;
  width: 276px;
}

.wrapper_zone_competence {
  display: grid;
  grid-template-columns: 6% 43% 1% 45% 0%;
  grid-auto-rows: 32px;
}

.competence_gauche {
  grid-column: 2;
  grid-row: 2/22;
  transform: rotate(-0.8deg);
  box-shadow: -4px 3px 6px 4px #0000009c;
  border-radius: 15px 0px 0px 15px;
  margin: -4px;
  padding: 15px;
  padding-left: 30px;
  margin-top: 9px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/background-parchemin.jpg);
  background-size: cover;
}

.competence_droite {
  grid-column: 4;
  grid-row: 2 / 22;
  transform: rotate(-0.8deg);
  box-shadow: 4px 3px 6px 4px #000000c4;
  border-radius: 15px;
  margin: -4px;
  padding: 15px;
  padding-left: 30px;
  margin-top: 5px;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/background-parchemin.jpg);
  background-size: cover;
  background-position: 25% 75%;
}

.competence_separateur {
  grid-column: 3;
  grid-row: 1/20;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_comp.png);
  background-size: cover;
  margin-top: -40px;
  margin-left: -31px;
  width: 78px;
  transform: rotate(-1deg);
  height: 110%;
}

.competence_crane {
  grid-column: 3;
  grid-row: 1/4;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_crane_blanc.png);
  background-size: contain;
  margin-top: -40px;
  margin-left: -36px;
  width: 81px;
  transform: rotate(-1deg);
  height: 115px;
}

.competence_separateur_centre {
  grid-column: 3;
  grid-row: 1 / 20;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_centre_comp.png);
  background-size: cover;
  margin-top: -56px;
  margin-left: -12px;
  width: 25px;
  transform: rotate(-0.6deg);
  height: 110%;
}

.competence_separateur_bas {
  grid-column: 3;
  grid-row: 19 / 23;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/separateur_bas_croix.png);
  background-size: cover;
  margin-top: 32px;
  margin-left: -26px;
  width: 65px;
  transform: rotate(-1deg);
  height: 94%;
}

.wrapper_tableau_competence {
  display: grid;
  grid-template-columns: 12% 0% 68% 0% 17% 0%;
  grid-auto-rows: 20px;
  font-size: 13px;
  font-family: 'Metamorphous';
  margin-top: 5px;
}

.competence_valeur_simple {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence_valeur_double {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence_nom_double {
  grid-column: 3;
  grid-row: 1/3;
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 0px;
  border-bottom: 1px dotted #00000042;
}

.competence_nom_haut {
  grid-column: 3;
  grid-row: 1;
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}

.competence_nom_bas {
  grid-column: 3;
  grid-row: 2;
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px dotted #00000042;
}

.competence_final_double {
  grid-column: 5;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted #00000042;
  /* border-bottom: 1px dotted black; */
  /* border-right: 1px dotted black; */
}

.competence_final_haut {
  grid-column: 5;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px dotted black;
}

.competence_final_bas {
  grid-column: 5;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
  border-radius: 0px 0px 15px 0px;
}







/* OLD */
.zone_caracteristiques { 
  grid-column: 44 / 82;
  grid-row: 2 / 21;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_derives { 
  grid-column: 44 / 82;
  grid-row: 23 / 44;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_talents {  
  grid-column: 1 / 84;
  grid-row: 45 / 122;
  margin-top: 0px;  
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}



.zone_talents_1 {  
  grid-column: 1 / 40;
  grid-row: 45 / 86;
  margin-top: 0px;  
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_talents_2 {  
  grid-column: 42 / 84;
  grid-row: 45 / 86;
  margin-top: 0px;  
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_armes { 
  grid-column: 1 / 84;
  grid-row: 88 / 107;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_armures {  
  grid-column: 1 / 84;
  grid-row: 108 / 124;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}

.zone_boucliers {  
  grid-column: 1 / 84;
  grid-row: 125 / 139;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--color_dev);
}






/* Structure section */
/* Zone informations */
.wrapper_titre {
  display: grid;
  grid-template-columns: 45% 2% 48%;
  grid-auto-rows: 20px;
}

.titre_logo {
  grid-column: 1 / 4;
  grid-row: 1/10;
  background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Obscuritas%20Aeterna/images/logo.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.titre_titre {
  grid-column: 3;
  grid-row: 1 / 10;
  font-family: "Metamorphous", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 55px;
  display: inline-grid;
  align-content: center;
  text-align: center;
}

/* Zone informations */
.wrapper_zone_info {
  display: grid;
  grid-template-columns: 70% 2% 28%;
  grid-auto-rows: 20px;
  margin-top: 2px;
}

.info_data {
  grid-column: 1/4;
  grid-row: 1;
}

.info_titre {
  grid-column: 1/4;
  grid-row: 2;
  font-weight: bold;
  font-family: "Metamorphous", serif;
  font-size: 10px;
}

.info_demi_data_gauche {
  grid-column: 1;
  grid-row: 1;
}

.info_demi_titre_gauche {
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
  font-family: "Metamorphous", serif;
  font-size: 10px;
}

.info_demi_data_droite {
  grid-column: 3;
  grid-row: 1;
}

.info_demi_titre_droite {
  grid-column: 3;
  grid-row: 2;
  font-weight: bold;
  font-family: "Metamorphous", serif;
  font-size: 10px;
}

.info_avatar {
  display: flex;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  width: auto;
  height: auto;
  grid-row: 1/11;
  grid-column: 1/4;
}


.wrapper_zone_caracteristiques {
    display: grid;
    grid-template-columns: 62% 4% 30%;
    grid-auto-rows: 25px;
    color: var(--white);
}

.caracteristiques_titre {
    grid-column: 1;
    grid-row: 1;
    letter-spacing: -0.4px;
}

.caracteristiques_valeur {
    grid-column: 3;
    grid-row: 1;
}




.wrapper_zone_derives {
  display: grid;
  grid-template-columns: 52% 4% 37%;
  grid-auto-rows: 25px;
}

.derives_titre {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: -0.4px;
}

.derives_valeur {
  grid-column: 3;
  grid-row: 1;
}




.wrapper_zone_talents {
  display: grid;
  grid-template-columns: 70% 0% 30%;
  grid-auto-rows: 25px;
  color: var(--white);
  font-size: 13px;
}

.talents_titre {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: -0.4px;
}

.talents_valeur {
  grid-column: 3;
  grid-row: 1;
}




.wrapper_zone_armes {
  display: grid;
  grid-template-columns: 15% 1% 15% 1% 5% 1% 5% 1% 28% 1% 38% 1% 4%;
  grid-auto-rows: 25px;
  text-align: center;
  /* color: var(--white); */
  font-size: 12px;
}

.armes_type {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: -0.4px;
}

.armes_nom {
  grid-column: 3;
  grid-row: 1;
}

.armes_degats {
  grid-column: 5;
  grid-row: 1;
}

.armes_portee {
  grid-column: 7;
  grid-row: 1;
}

.armes_effet {
  grid-column: 9;
  grid-row: 1;
}

.armes_notes {
  grid-column: 11;
  grid-row: 1;
}

.armes_roll {
  grid-column: 13;
  grid-row: 1;
}



.wrapper_zone_armures {
  display: grid;
  grid-template-columns: 3% 1% 20% 1% 0% 0% 9% 2% 5% 2% 5% 2% 5% 2% 5% 2% 5% 2% 5% 2% 5% 2% 14%;
  grid-auto-rows: 25px;
  /* color: var(--white); */
  font-size: 12px;
}

.armures_equipee {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: -0.4px;
}

.armures_type {
  grid-column: 3;
  grid-row: 1;
}

.armures_nom {
  grid-column: 5;
  grid-row: 1;
}

.armures_encaissement {
  grid-column: 7;
  grid-row: 1;
}

.armures_dexterite {
  grid-column: 9;
  grid-row: 1;
}

.armures_athletisme {
  grid-column: 11;
  grid-row: 1;
}

.armures_cac {
  grid-column: 13;
  grid-row: 1;
}

.armures_pugilat {
  grid-column: 15;
  grid-row: 1;
}

.armures_distance {
  grid-column: 17;
  grid-row: 1;
}

.armures_discretion {
  grid-column: 19;
  grid-row: 1;
}

.armures_esquive {
  grid-column: 21;
  grid-row: 1;
}

.armures_notes {
  grid-column: 23;
  grid-row: 1;
}



.wrapper_zone_boucliers {
  display: grid;
  grid-template-columns: 2% 1% 15% 1% 0% 0% 6% 1% 6% 1% 65%;
  grid-auto-rows: 25px;
  /* color: var(--white); */
  font-size: 12px;
}

.boucliers_equipee {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: -0.4px;
}

.boucliers_type {
  grid-column: 3;
  grid-row: 1;
}

.boucliers_nom {
  grid-column: 5;
  grid-row: 1;
}

.boucliers_parade {
  grid-column: 7;
  grid-row: 1;
}

.boucliers_esquive {
  grid-column: 9;
  grid-row: 1;
}

.boucliers_notes {
  grid-column: 11;
  grid-row: 1;
}









/* ROLL TEMPLATE */
.sheet-rolltemplate-thanatos {
  text-align: center;
  --echec_2: #bc0000e0;
  --echec_3: #bc0000e0;
  --echec_1: #b016a0;
  --reussite_3: #036c03;
  --reussite_2: #035bae;
  --reussite_1: #9e9c02d9;
  --blanc_roll: #fcfcfdf0;
--blanc_roll_dark: #fcfcfdf0;
  --noir_roll: #000004;
--box_shadow: 2px 2px 10px 1px #000000f2;	
--box_shadow_dark: 0px 1px 4px 3px #ffffff69;
--background_color: #fcfcfdf0;
--background_color_dark: #fcfcfdf0;
  width: 260px;
  height: auto;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-darkmode {
  --echec_2: #a80303e0;
  --echec_3: #a80303e0;
  --echec_1: #8a0f7d;
  --reussite_3: #036c03;
  --reussite_2: #004280;
  --reussite_1: #8a8809;
  --blanc_roll: #fcfcfde5;
  --noir_roll: #000004;	
--box_shadow: 0px 1px 4px 3px #ffffff69;
--background_color: #fcfcfde5;
}

.sheet-rolltemplate-thanatos .sheet-toper {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_top.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4px;
}

.sheet-rolltemplate-thanatos .sheet-bottom {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_bottom.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4px;
}

.sheet-rolltemplate-thanatos .sheet-separateur {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_separation.png);
  background-size: 260px;
  background-repeat: no-repeat;
  height: 10px;
  width: 255px;
  margin-left: 3px;
}


.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-center {
  text-align: center;
  width: auto;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-color {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Thanatos/images/rolltemp_middle.png);
  background-size: 260px 500px;
box-shadow: var(--box_shadow);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-background {
  background: var(--background_color);
  background-size: 260px 500px;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-header {
font-size: 22px;
font-family: "Playfair", serif;
word-wrap: break-word;
letter-spacing: -0.7px;
padding-top: 15px;
padding-bottom: 15px;
font-weight: bold;
width: auto;
margin-left: 1px;
background: var(--noir_roll);
margin-top: -1px;
margin-bottom: -5px;
color: var(--blanc_roll);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-critique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite {
  background-color: transparent;
  color: #000000b3;
  font-size: 60px;
  letter-spacing: 0px;
  padding: 15px;
  margin-top: 15px;
  font-family: "EB Garamond", serif;
  width: auto;
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-echec{
  color: var(--echec_3);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-thanatos .sheet-rolltemplate-thanatos-subheader-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-result {
  font-size: 36px;
  font-family: "Playfair", serif;
  padding: 15px;
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite {
  font-size: 25px;
  line-height: 20px;
  font-family: "Playfair", serif;
  padding: 5px;
  padding-top: 15px;
  letter-spacing: -0.7px;
  margin-bottom: 10px;
  width: auto;
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite { 
  font-size: 12px;
  line-height: 12px;
  font-family: "Playfair", serif;
  padding: 5px;
  padding-bottom: 5px;
  padding-bottom: 6px;
  letter-spacing: -0.2px;
  color: var(--blanc_roll);
  width: auto;
  margin-left: 0px;
  background: var(--noir_roll);
  margin-top: -5px;
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-tragique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec-critique,   
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-echec,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-echec {
  color: var(--echec_3);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-exceptionnelle,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite-critique,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-texte-reussite,
.sheet-rolltemplate-thanatos .sheet-template-thanatos-rappel-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-succeeds {
  color: #148c00;
}

.sheet-rolltemplate-thanatos .sheet-template-thanatos-misses {
  color: #a90000;
}

.sheet-rolltemplate-thanatos .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}

.sheet-rolltemplate-thanatos-header .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-thanatos .inlinerollresult.fullcrit {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-thanatos .inlinerollresult.fullfail {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-thanatos .inlinerollresult.importantroll {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}

.sheet-rolltemplate-thanatos .sheet-content {  
display: grid;
grid-template-columns: 50% 50%;
line-height: 13px;
  color: #000000b3;
  margin-left: 2px;
}

.sheet-rolltemplate-thanatos .sheet-content > div{
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-thanatos .sheet-content .sheet-key {  
font-weight: bold;
padding-right: 2px;
text-align: right;
font-size: 13px;
}

/* Right column */
.sheet-rolltemplate-thanatos .sheet-content .sheet-value {
padding-right: 5px;
text-align: left;
font-size: 13px;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-thanatos .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-thanatos .sheet-content :nth-child(4n) {
background: #51515136;
color: unset !important;
}

/* Boutons liens */
/* Roll Buttons */
.sheet-rolltemplate-thanatos a[href^='!'],
.sheet-rolltemplate-thanatos a[href^='~'],
.sheet-rolltemplate-thanatos a[href^='`']{
  color: #000000e8;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 6px;
  text-align: left;
}
.sheet-rolltemplate-thanatos a[href^='!']:hover,
.sheet-rolltemplate-thanatos a[href^='~']:hover,
.sheet-rolltemplate-thanatos a[href^='`']:hover{
  top: -1px;
  color: #ff0000cb;
}
/* hyperlinks */
.sheet-rolltemplate-thanatos a:not([href^='~']):not([href^='!']):not([href^='`']){
    font-weight: bold;
    color:#3f8aa6;
}
.sheet-rolltemplate-thanatos a:not([href^='~']):not([href^='!']):not([href^='`']):hover {
  font-weight: bold;
  color:#70c0dd;
}
.sheet-rolltemplate-thanatos a:not([href^='~']):not([href^='!']):not([href^='`']):visited{
  color:purple;
}
.sheet-rolltemplate-thanatos a:not([href^='~']):not([href^='!']):not([href^='`']):visited:hover{
  color:rgb(187, 45, 187);
}
