/* Import de font */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jim+Nightshade&family=Metamorphous&family=Quintessential&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

/* font-family: "Jim Nightshade", cursive;
font-family: "Metamorphous", serif;
font-family: "Quintessential", serif;
font-family: "Gowun Dodum", sans-serif;
font-family: "Radio Canada", sans-serif; */

/* Apparence générale de la page */
.charsheet {
    --black: #474a38;
    --white: #fcfcfd;
	--font_playfair: "Playfair", serif;
    --borderdev: 1px solid red;
    --couleur_dotted: #00000078;
    --text_input: #000000bd;
    --text_hover: #a23e33;
    --color_border_equipement: #000000d9;
    --color_border_parcours_personnes: #000000d9;
    --color_ligne_menu: #00000078;
    --color_border_button: #595959;    
    --color_background_button: #fcfcfd;
    --color_background_button_selected: #b9ad9a;    
    --color_text_button: #000002c4;
    --color_text_button_selected: #000002c4;
    --color_button_hover: #d7d2d2;
    --color_text_hover: #000000;
    --color_ombre_button: #575757a8;
    font-family: "Radio Canada", sans-serif;
    letter-spacing: -0.8px;
    color: var(--black);
    font-size: 19px;
    line-height: 25px;
    margin: 0px;
}

.sheet-darkmode .charsheet {
    --black_text: #000002;
    --white_text: #fcfcfd;
}

.sheetform {
    background-color: #ffffff;
    width: 800px;
}

.sheet-darkmode .sheetform {
    background-color: #1f1f1f;
}

::placeholder {
  color: rgba(128, 128, 128, 0.548);
  font-size: 13px;
  margin-top: 0px;
}

/* Mise en page */
span.apparence {  
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
}

span.picto {  
	font-family: "pictos";
	font-size: 16px;
}

/* Les input */
.charsheet input {  
    border: none;
    outline: none;
    resize: none;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    color: var(--black);
    font-size: 18px;
    line-height: 25px;
    background: transparent;
}

/* Suppression des fleches pour input number */
.charsheet input[type=number]::-webkit-inner-spin-button,
.charsheet input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: auto;
}

.charsheet textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
}

/* Checkbox custom */
input[type="checkbox"] {    
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    background-color: var(--white_text);
    margin: 0;
    font: inherit;
    color: var(--white);
    width: 18px;
    height: 18px !important;
    border: 2px solid var(--white_text);
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-color: var(--white_text);
    border: 2px solid var(--white_text);
}

label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 18px !important;
    height: 18px;
    padding: 0px !important;
    margin: 0 !important;
}

label::before {
    content: "";
    width: 18px;
    height: 18px;
  }

input[type="checkbox"]:checked + label::before {
    content: "✔";
    display: flex;
    justify-content: center;
    color: var(--black);
    font-size: 17px;
    font-weight: bold;
    margin-top: -19px;
  }

input[type="checkbox"]:focus {
  outline: none;
}

.charsheet input[type="number"] {
    appearance: unset !important;
    -moz-appearance: textfield !important; 
}

.charsheet button[type=action].button_texte::before,
.charsheet button[type=roll].button_texte::before,
.charsheet button[type=action].button_picto::before,
.charsheet button[type=roll].button_picto::before {
	content: '';
}

.charsheet button[type=action].button_texte,
.charsheet button[type=roll].button_texte,
.charsheet button[type=action].button_picto,
.charsheet button[type=roll].button_picto {
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    background: none;
    text-align: right;
    height: 20px;
    border: none;
    border-radius: 1px;
    color: var(--black);
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: -0.8px;  
    margin-top: 3px;
}

.charsheet button[type=action].button_picto,
.charsheet button[type=roll].button_picto {
    font-family: dicefontd20;
    font-size: 20px;
    margin-top: 0px;
}

.charsheet button[type=action].button_texte:hover,
.charsheet button[type=roll].button_texte:hover,
.charsheet button[type=action].button_picto:hover,
.charsheet button[type=roll].button_picto:hover {
    color: var(--text_hover);
}


/* Gestion des affichage */

div.page_1,
div.page_2,
div.page_3 {
    display: none;
}

.charsheet .choix_page[value="0"] ~ div.page_1,
.charsheet .choix_page[value="1"] ~ div.page_2,
.charsheet .choix_page[value="2"] ~ div.page_3 {
    display: block;
}

.charsheet .choix_page[value="0"] ~ div .button0 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}
.charsheet .choix_page[value="1"] ~ div .button1 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}
.charsheet .choix_page[value="2"] ~ div .button2 {color: var(--color_text_button_selected); background: var(--color_background_button_selected);}


/* Modelage input et autres */

.charsheet input.input_classique_1,
.charsheet input.input_custom {
    width: 100% !important;
    border: none;
    border-radius: 1px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    letter-spacing: 0px;
    color: var(--text_input);
}


.charsheet input.input_classique_1 { 
    height: 30px !important;
    border-radius: 1px;
    margin-top: -10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    letter-spacing: 0px;
    text-align: center;
    font-size: 16px;
}

.charsheet input.input_custom {  
    width: 97% !important;
    margin-right: 2px;
    height: 15px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    text-align: right;
    padding-bottom: 3px;
}

.charsheet input.input_carac,
.charsheet input.input_carac_valeur,
.charsheet input.input_carac_xp {
    width: 20px !important;
    height: 20px;
    border: none;
    border-radius: 1px;
    background-color: transparent;
    color: var(--black);
    text-align: center;
    font-size: 14px;
    padding: 0;
    padding-bottom: 1px;
}

.charsheet input.input_carac {
    padding-bottom: 0px;
}

.charsheet input.input_carac_valeur,
.charsheet input.input_carac_xp {
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 1px;
}



/* Cadre des pages */

div.page_1 {    
    width: 830px;
    height: 1112px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Arkhanval/images/background_page1.png);
    background-size: cover;
	background-repeat: no-repeat;
}

/* Structure générale de la page_1 */

.wrapper_page_personnage {
    display: grid;
    grid-template-columns: repeat(83, 10px);;
    grid-auto-rows: 10px;
}

.page1_zone_nom {  
    grid-column: 5 / 80;
    grid-row: 6 / 15;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_artisan {  
    grid-column: 9 / 31;
    grid-row: 16 / 35;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_artiste {   
    grid-column: 9 / 31;
    grid-row: 36 / 55;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_combattant {  
    grid-column: 9 / 31;
    grid-row: 56 / 75;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_erudit {  
    grid-column: 9 / 31;
    grid-row: 77 / 95;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_explorateur {  
    grid-column: 54 / 76;
    grid-row: 16 / 35;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_magicien {  
    grid-column: 54 / 76;
    grid-row: 36 / 55;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_roublard {  
    grid-column: 54 / 76;
    grid-row: 56 / 75;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_stratege {  
    grid-column: 54 / 76;
    grid-row: 77 / 95;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_ark {  
    grid-column: 33 / 52;
    grid-row: 16 / 66;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_blessure {  
    grid-column: 33 / 52;
    grid-row: 69 / 90;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_specialite_1 {   
    grid-column: 6 / 42;
    grid-row: 99 / 109;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.page1_zone_specialite_2 {  
    grid-column: 43 / 79;
    grid-row: 99 / 109;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

/* Structure générale de la page_2 */
/* Structure générale de la page_3 */
/* Structure générale des zones */

.wrapper_zone {
    display: grid;
    grid-template-columns: repeat(100, 10px);;
    grid-auto-rows: 10px;
}

.wrapper_zone_bloc_1,
.wrapper_zone_bloc_2,
.wrapper_zone_bloc_3,
.wrapper_zone_bloc_4,
.wrapper_zone_bloc_5,
.wrapper_zone_bloc_6,
.wrapper_zone_bloc_7,
.wrapper_zone_bloc_8 {
    display: grid;
    grid-template-columns: repeat(100, 10px);;
    grid-auto-rows: 10.6px;
    font-size: 15px;
}

.wrapper_zone_bloc_1,
.wrapper_zone_bloc_5 {
    margin-left: 4px;
    margin-top: -7px;
}

.wrapper_zone_bloc_2,
.wrapper_zone_bloc_6 {
    margin-left: 4px;
    margin-top: -4px;
}

.wrapper_zone_bloc_3,
.wrapper_zone_bloc_7 {
    margin-left: 4px;
    margin-top: 0px;
}

.wrapper_zone_bloc_4,
.wrapper_zone_bloc_8 {
    margin-left: 4px;
    margin-top: -7px;
}

.wrapper_zone_bloc_5 {
    margin-left: -2px;
}

.wrapper_zone_bloc_6 {
    margin-left: -2px;
}

.wrapper_zone_bloc_7 {
    margin-left: -2px;
}

.wrapper_zone_bloc_8 {
    margin-left: -2px;
}

/* Structure bloc nom */

.zone_nom_nom {
    grid-column: 2 / 37;
    grid-row: 2 / 5;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 0px;
}

.zone_nom_archetype {  
    grid-column: 40 / 75;
    grid-row: 2 / 5;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.zone_nom_peuple {  
    grid-column: 2 / 37;
    grid-row: 7 / 10;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 0px;
}

.zone_nom_origine {  
    grid-column: 40 / 75;
    grid-row: 7 / 10;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Structure bloc metier */

.zone_bloc_xp {  
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_texte_1 {   
    grid-column: 2 / 16;
    grid-row: 4 / 6;  
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_2 {   
    grid-column: 4 / 16;
    grid-row: 6 / 8;  
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_3 {   
    grid-column: 4 / 16;
    grid-row: 8 / 10;  
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_4 {   
    grid-column: 2 / 16;
    grid-row: 10 / 12;  
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_5 {   
    grid-column: 2 / 16;
    grid-row: 12 / 14;  
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_roll_6 {   
    grid-column: 2 / 4;
    grid-row: 14 / 16;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_roll_7 {   
    grid-column: 2 / 4;
    grid-row: 16 / 18;
    margin-top: 0px;
    margin-left: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_6 {   
    grid-column: 4 / 16;
    grid-row: 14 / 16;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_texte_7 {   
    grid-column: 4 / 16;
    grid-row: 16 / 18;
    margin-top: 0px;
    margin-left: 0px;
    /* background-color: #44ff0073; */
    text-align: right;
}

.zone_bloc_valeur_1 {  
    grid-column: 17 / 20;
    grid-row: 4 / 6;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_2 {   
    grid-column: 17 / 20;
    grid-row: 6 / 8;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_3 {   
    grid-column: 17 / 20;
    grid-row: 8 / 10;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_4 {  
    grid-column: 17 / 20;
    grid-row: 10 / 12;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_5 {   
    grid-column: 17 / 20;
    grid-row: 12 / 14;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_6 {   
    grid-column: 17 / 20;
    grid-row: 14 / 16;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_valeur_7 {   
    grid-column: 17 / 20;
    grid-row: 16 / 18;
    margin-top: 0px;
    margin-left: 0px;  
    margin-right: 6px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_1 {  
    grid-column: 20 / 22;
    grid-row: 4 / 6;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_2 {  
    grid-column: 20 / 22;
    grid-row: 6 / 8;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_3 {  
    grid-column: 20 / 22;
    grid-row: 8 / 10;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_4 {  
    grid-column: 20 / 22;
    grid-row: 10 / 12;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_5 {  
    grid-column: 20 / 22;
    grid-row: 12 / 14;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_6 {  
    grid-column: 20 / 22;
    grid-row: 14 / 16;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}

.zone_bloc_xp_7 {  
    grid-column: 20 / 22;
    grid-row: 16 / 18;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    /* background-color: #44ff0073; */
}





