/* INTO THE DARK */
/* @import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap'); */

.charsheet {
  --color_attribut_corps: #e42525f0;
  --color_attribut_ame: #c5a600; 
  --color_attribut_esprit: #4682B4; 
  --color_base: #000000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.charsheet button[type=action].sheet-button_talent::before,
.charsheet button[type=roll].sheet-button_talent::before,
.charsheet button[type=action].sheet-button_competence::before,
.charsheet button[type=roll].sheet-button_competence::before {
	content: '';
}

.charsheet button[type=action].sheet-button_talent,
.charsheet button[type=roll].sheet-button_talent {
  width: 119px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 14px;
  text-align: right;
  line-height: 14px;
  margin-top: -5px;
  padding-right: 5px;
}

.charsheet button[type=action].sheet-button_competence,
.charsheet button[type=roll].sheet-button_competence {
  width: 95px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  margin-top: -7px;
}

.charsheet button[type=action].sheet-button_talent:hover,
.charsheet button[type=roll].sheet-button_talent:hover {
    margin-left: -1px;
}

.charsheet button[type=action].sheet-button_competence:hover,
.charsheet button[type=roll].sheet-button_competence:hover {
    margin-left: -2px;
}

.sheet-itd-container {
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  min-width: 825px;
  max-width: 1000px;
  padding-top: 20px;
}

.sheet-itd-logo-and-info {
  padding-bottom: 30px;
}

.sheet-itd-inner {
  text-align: center;
  font-size: 18px;
  margin: 0% 5% 0% 5%;
  display: block;
}

.sheet-itd-inner-text {
  margin: 25px 5% 25px 5%;
}

.sheet-itd-inner:after {
  content: "";
  display: table;
  clear: both;
}

span.sheet-rouge {
	color: var(--color_attribut_corps);
}

span.sheet-jaune {
	color: var(--color_attribut_ame);
}

span.sheet-bleu {
	color: var(--color_attribut_esprit);
}

span.sheet-rouge-souligne {
	color: var(--color_attribut_corps);
  text-decoration: underline;
}

span.sheet-jaune-souligne {
	color: var(--color_attribut_ame);
  text-decoration: underline;
}

span.sheet-bleu-souligne {
	color: var(--color_attribut_esprit);
  text-decoration: underline;
}

.sheet-itd-logo-table-col-titre {
  float: left;
  width: 50%;
  text-align: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  margin-left: 40px;
  display: grid;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

.sheet-itd-logo-table-col1 {
  float: left;
  width: 50%;
  text-align: center;
  height: 180px;
  display: grid;
  align-items: center;
}

.sheet-itd-logo-table-col {
  float: left;
  width: 50%;
  text-align: center;
}

.sheet-itd-table-2col {
  float: left;
  width: 50%;
  text-align: center;
}

.sheet-itd-table-3col {
  float: left;
  width: 33.3%;
  text-align: center;
}

.sheet-itd-table-5col {
  float: left;
  width: 20%;
  text-align: center;
}

.sheet-itd-table-6col {
  float: left;
  width: 16%;
  text-align: center;
}

.sheet-itd-table-7col {
  float: left;
  width: 14%;
  text-align: center;
}

.sheet-itd-basic-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.sheet-itd-input-basic-info {
  resize: none;
  display: inline-block;
  vertical-align: middle;
}

.sheet-input-basic-info {
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  display: inline-block;
  vertical-align: middle;
}

.sheet-itd-label-basic-info {
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;    
}

.sheet-itd-label-basic-info-col {
   position: relative;
   overflow: hidden;
   float: left;
   width: 35%;
   text-align: center;
   margin-top: 7px;
}
.sheet-input-basic-info-col {
   position: relative;
   overflow: hidden;
   float: left;
   width: 65%;
   text-align: center;
}

.sheet-itd-logo {
  width: 250px;
  height: 200px;
  text-align: center;
}

.sheet-itd-basic-attribute-cells {
  display: inline-block;
  height: 23px;
  text-align: center;
}

.sheet-itd-three-columns-td {
  width: 33.3%;
}

.sheet-itd-basic-attribute-corps,
.sheet-itd-basic-attribute-ame,
.sheet-itd-basic-attribute-esprit,
.sheet-itd-basic-attribute-initiative {
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.sheet-itd-basic-attribute-corps {
  color: var(--color_attribut_corps);
}

.sheet-itd-basic-attribute-ame {
  color: var(--color_attribut_ame);;
}

.sheet-itd-basic-attribute-esprit {
  color: var(--color_attribut_esprit);;
}

.sheet-itd-basic-attribute-esprit {
  color: var(--color_base);;
}

.sheet-itd-input-basic-attribute {
  width: 60px !important;
  height: 60px !important;
  font-size: 40px;
  text-align: center;
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  border-color: black;
  background-color: white;  
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.sheet-itd-attr-button {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.sheet-itd-basic-talent-corps,
.sheet-itd-basic-talent-ame,
.sheet-itd-basic-talent-esprit {
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.sheet-itd-basic-talent-corps {
  color: var(--color_attribut_corps);
}

.sheet-itd-basic-talent-ame {
  color: var(--color_attribut_ame);;
}

.sheet-itd-basic-talent-esprit {
  color: var(--color_attribut_esprit);;
}

.sheet-itd-input-basic-talent {
  width: 30px !important;
  height: 30px !important;
  font-size: 16px;
  text-align: center;
  font-family: 'Homenaje', 'Contrail One', sans-serif;
  border-color: black;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  margin-top: -5px;
}

.sheet-itd-talent-button {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-top: -11px;
}

.sheet-wrapper_talent {
  display: grid;
  grid-template-columns: 18% 3% 18% 1% 4% 2% 0% 2% 18% 1% 4% 2% 0% 2% 18% 1% 4% 0% 0% 0%;
  grid-auto-rows: 25px;
  font-size: 14px;
  padding: 5px;
}

.sheet-titre_competence_liee {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  padding-right: 0px;
  font-size: 18px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.sheet-titre_talent_1 {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  padding-right: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.sheet-valeur_talent_1 {
  grid-column: 5;
  grid-row: 1;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.sheet-roll_talent_1 {
  grid-column: 7;
  grid-row: 1;
  margin-top: -6px;
}

.sheet-titre_talent_2 {
  grid-column: 9;
  grid-row: 1;
  text-align: right;
  padding-right: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.sheet-valeur_talent_2 {
  grid-column: 11;
  grid-row: 1;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.sheet-roll_talent_2 {
  grid-column: 13;
  grid-row: 1;
  margin-top: -6px;
}

.sheet-titre_talent_3 {
  grid-column: 15;
  grid-row: 1; 
  text-align: right;
  padding-right: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.sheet-valeur_talent_3 {
  grid-column: 17;
  grid-row: 1;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.sheet-roll_talent_3 {
  grid-column: 19;
  grid-row: 1;
  margin-top: -6px;
}

.sheet-itd-black-band {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 18px;
  background-color: black;
  display: table;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sheet-itd-black-band-text {
  margin: 0% 5% 0% 5%;
  padding-top: 14px;
}

.sheet-itd-marker {
  width: 100%;
  height: 15px;
  border-bottom: 5px solid black;
  text-align: center;
}

.sheet-itd-marker-text {
  font-size: 24px;
  background-color: white;
  padding: 0 10px;
}

textarea {
  font-family: 'Homenaje', sans-serif;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.sheet-itd-experience-option {
  font-weight: bold;
  text-align: center;
}

/* CUSTOM CHECKBOX */
.sheet-itd-checkbox-container {
  display: inline;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
}

/* Hide the browser's checkbox */
.sheet-itd-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sheet-itd-checkbox-checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
}

.sheet-itd-checkbox-container:hover input~.sheet-itd-checkbox-checkmark {
  background-color: #ccc;
}

.sheet-itd-checkbox-container input:checked~.sheet-itd-checkbox-checkmark {
  background-color: black;
}

.sheet-itd-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sheet-itd-checkbox-container input:checked~.sheet-itd-checkbox-checkmark:after {
  display: block;
}

/* Custom checkmark */
.sheet-itd-checkbox-container .sheet-itd-checkbox-checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-color: #dcca00;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CUSTOM RADIO BUTTONS */
.sheet-itd-radio-container {
  display: inline;
  position: relative;
  padding-left: 15px; /* 22px; outside roll20 */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sheet-itd-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.sheet-itd-radio-checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #eee;
}

.sheet-itd-radio-container:hover input~.sheet-itd-radio-checkmark {
  background-color: #ccc;
}

.sheet-itd-radio-container input:checked~.sheet-protection-color {
  background-color: #018610;
}

.sheet-itd-radio-container input:checked~.sheet-wound-color {
  background-color: #b70000;
}

.sheet-itd-radio-container input:checked~.sheet-stress-color {
  background-color: #940094;
}

.sheet-itd-radio-container input:checked~.sheet-zero-color {
  background-color: #404040;
}

.sheet-itd-radio-container input:checked~.sheet-experience-color {
  background-color: #dcca00;
}

/* Hide indicator when not checked */
.sheet-itd-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when checked */
.sheet-itd-radio-container input:checked~.sheet-itd-radio-checkmark:after {
  display: inline;
}

/* Style the indicator */
.sheet-itd-radio-container .sheet-itd-radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background: black;
}


/* ROLL TEMPLATE */
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-center {
  text-align: center;
  /* margin-left: 30px; */
  --echec_2: #ff0000;
  --echec_3: #ff006f;
  --echec_1: #dc00c9;
  --reussite_3: #009700;
  --reussite_2: #0082ff;
  --reussite_1: #fffe00;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-background {
  background: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/Classic_20/images/background.jpg) top left;
  background-repeat: no-repeat;
  border-spacing: 0;
  max-height: 200px;
  min-height: 130px;
  max-width: 250px;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 20px;
  border-radius: 10px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-header {
  color: #ffffffde;
  font-size: 20px;
  font-family: 'Contrail One';
  letter-spacing: 0px;
  word-wrap: break-word;
  /* margin-top: 25px; */
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique,
.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
  background-color: transparent;
  color: #ffffffde;
  font-size: 40px;
  font-family: 'Contrail One';
  letter-spacing: 0px;
  padding: 15px;
  margin-top: 25px;
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-echec{
  color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-rolltemplate-itd-subheader-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-result {
  font-size: 36px;
  font-family: 'Contrail One';
  padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-echec,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique,
.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite

 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Contrail One';
  padding: 15px;
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-tragique {
  color: var(--echec_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec-critique{
  color: var(--echec_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-echec{
  color: var(--echec_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-exceptionnelle {
  color: var(--reussite_1);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite-critique {
  color: var(--reussite_2);
}

.sheet-rolltemplate-itd .sheet-template-itd-texte-reussite {
  color: var(--reussite_3);
}

.sheet-rolltemplate-itd .sheet-template-itd-succeeds {
  color: #148c00;
}

.sheet-rolltemplate-itd .sheet-template-itd-misses {
  color: #a90000;
}

.sheet-rolltemplate-itd .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}

.sheet-rolltemplate-itd-header .inlinerollresult {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.fullcrit {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.fullfail {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}
 
.sheet-rolltemplate-itd .inlinerollresult.importantroll {
  background-color: transparent !important;
  border: none !important;
  color: unset !important;
}