@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&display=swap');


.charsheet {
    --black: #000000eb;
    --white: #ffffffed;
	--marker: 'Permanent Marker', cursive;
	--butin_choisi: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Casse%20de%20trop/images/butin_dos.png);
    font-family: 'Caveat', cursive;
    color: var(--black);
    font-size: 18px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
}

.sheet-darkmode .sheetform {
    background-color: #1F1F1F;
}

body.sheet-darkmode .charsheet {
    /* background-color: white; */
    --black: #000000eb;
    --fond_carte: #939898ed;
    color: var(--black);
}

::placeholder {
  color: rgba(128, 128, 128, 0.548);
  font-size: 13px;
  margin-top: 0px;
}


.charsheet input.nom_personnage {  
    border: none;
    outline: none;
    resize: none;
    padding: 0px;
    /* margin-top: 6px; */
    font-size: 35px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 10px;
    color: #141414;
    background: #d9a700;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-family: "Caveat Brush", cursive;
    box-shadow: 0px 0px 24px 0px #d9a700a3;
    width: 320px;
    height: 50px;
}

select.choix_carte_contexte,
select.choix_carte_rituel,
select.choix_carte_loyaute { 
    color: #ffffffd1;
    font-size: 14px;
    padding: 2px;
    border: 1px solid #ffffffa8;
    background: #000;
    border-radius: 15px;
    outline: none;
    font-family: "Caveat Brush", cursive;
    text-align: center;
    margin-top: 510px;
    margin-left: 100px;
}

.charsheet button[type=roll].button_xcard::before {
	content: '';
}

.charsheet button[type=roll].button_xcard {
    width: 50px;
    height: 85px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/rituel_xcard.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 3px 0px #f4f1f187;
    padding: 0;
    margin: 0;
}

.charsheet button[type=roll].button_xcard:hover {
    margin-left: -1px;
    padding: 0px;
    background-position: unset;
}

.charsheet button[type=action].button_vers_vote::before {
	content: '';
}

.charsheet button[type=action].button_vers_vote {
    width: 200px;
    height: 62px;
    border-radius: 10px;
    background-color: #a50303bf;
    color: #ffffffd6;
    box-shadow: 0px 0px 3px 0px #f4f1f187;
    padding: 15px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    font-family: "Caveat Brush", cursive;
}

.charsheet button[type=action].button_vers_vote:hover {
    background-color: #e46c04;
    box-shadow: 0px 0px 20px 0px #f4f1f187;
    color: black;
}

.charsheet button[type=action].button_retour_vote::before {
	content: '';
}

.charsheet button[type=action].button_retour_vote {
    width: 224px;
    height: 33px;
    border-radius: 10px;
    background-color: transparent;    
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #ffffffb3;
    line-height: 16px;
    font-family: "Caveat Brush", cursive;
}

.charsheet button[type=action].button_retour_vote:hover {
    text-decoration: underline;
}

div.commune {  
	width: 960px;
	height: 800px;
	box-shadow: 3px 3px 15px 5px #000000;
	background-color: #efefef;
	border-radius: 15px;
	background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_fond_feuille.webp);
    background-size: 960px 801px;
	background-repeat: no-repeat;    
    border: 2px solid #000000d4;
}

body.sheet-darkmode .commune {
	box-shadow: 1px 1px 14px 1px #ffffff6e;
}

/* Gestion des affichage */

div.contexte,
div.rituel,
div.vers_vote,
div.loyaute,
div.retour,
div.choix_loyaute,
div.choix_trahir,
div .logo_centre,
div .logo_centre_page_2 {
    display: none;
}

.charsheet .etape[value="0"] ~ div.contexte,
.charsheet .etape[value="0"] ~ div.rituel,
.charsheet .etape[value="0"] ~ div.vers_vote,
.charsheet .etape[value="0"] ~ div.logo_centre,
.charsheet .etape[value="1"] ~ div.loyaute,
.charsheet .etape[value="1"] ~ div.retour,
.charsheet .etape[value="1"] ~ div.logo_centre_page_2,
.charsheet .choix_loyaute_fait[value="1"] ~ div.choix_loyaute,
.charsheet .choix_loyaute_fait[value="2"] ~ div.choix_trahir {
    display: block;
}

/* Structure générale de la page */

.wrapper_page {
    display: grid;
    grid-template-columns: 40px 160px 80px 160px 80px 160px 80px 160px 25px;
    grid-auto-rows: 25px;
	padding-top: 10px;
	/* border: 1px solid red; */
}

.logo_fts {
    grid-column: 1;
    grid-row: 1;
    margin-top: -10px;
    margin-left: 44px;
    width: 100px;
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_fts_rituel.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_moon {
    grid-column: 8;
    grid-row: 1;
    margin-top: -3px;
    margin-left: 97px;
    width: 100px;
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_moon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_signature {
    grid-column: 8;
    grid-row: 29;
    margin-top: 19px;
    margin-left: 31px;
    width: 153px;
    height: 68px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_signature.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.logo_rituel {
    grid-column: 2;
    grid-row: 28;
    margin-top: 8px;
    margin-left: 0px;
    width: 180px;
    height: 87px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_rituel.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_centre {
    grid-column: 4;
    grid-row: 9;
    margin-top: 0px;
    margin-left: 68px;
    width: 268px;
    height: 350px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_illustration.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_centre_page_2 {
    position: absolute;
    margin-top: 107px;
    margin-left: -328px;
    width: 218px;
    height: 282px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/logo_illustration.webp);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.name {
    grid-column: 4;
    grid-row: 1;
    margin-top: 40px;
    margin-left: 50px;
}

.retour {
    grid-column: 4;
    grid-row: 3;
    margin-top: 35px;
    margin-left: 96px;
}

.contexte {
    grid-column: 2;
    grid-row: 5;
    margin-top: 6px;
    margin-left: -7px;
}

.rituel {
    grid-column: 6;
    grid-row: 5;
    margin-top: 6px;
    margin-left: 128px;
}

.loyaute {
    grid-column: 4;
    grid-row: 6;
    margin-left: 83px;
    margin-top: 0px;
    /* transform: rotate(2deg); */
    /* border: 1px solid red; */
}

.vers_vote  {
    grid-column: 4;
    grid-row: 26;
    margin-left: 87px;
    margin-top: 22px;
    /* transform: rotate(2deg); */
    /* border: 1px solid red; */
}

.choix_trahir,
.choix_loyaute  {
    grid-column: 1;
    grid-row: 10;
    margin-left: 340px;
    margin-top: 0px;
    /* transform: rotate(2deg); */
    /* border: 1px solid red; */
}

.xcard {
    grid-column: 8;
    grid-row: 1;
    width: 70px;
    height: 119px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-4deg);
    margin-top: 9px;
    margin-left: 39px;
}

/* Structure cadre joueur */

.wrapper_carte {
    display: grid;
    grid-template-columns: 160px;
    grid-auto-rows: 25px;
	width: 160px;
	/* border: 1px solid red; */
}

.joueur_nom {  
	grid-column: 1;
	grid-row: 1;
	flex-wrap: wrap;
	display: flex !important;
	align-content: center;
	justify-content: center;
	margin-top: -15px;
	margin-bottom: 5px;
	background-size: 160px 40px;
	background-repeat: no-repeat;
	height: 32px;
	width: 160px;
	box-shadow: 0px 0px 12px 3px #f4f1f1a1;
	/* border: 1px solid red; */
}

.contexte_carte,
.rituel_carte,
.loyaute_carte {  
    grid-column: 1;
    grid-row: 2 / 8;
    height: 470px;
    width: 273px;
    background-size: cover;
    border: 1px solid #060606;
    margin-left: 4px;
    box-shadow: 0px 0px 12px 3px #f4f1f1a1;
    border-radius: 15px;
}

.loyaute_carte {  
    grid-column: 1;
    grid-row: 2 / 8;
    height: 517px;
    width: 300px;
    background-size: cover;
    border: 1px solid #060606;
    margin-left: -20px;
    box-shadow: 0px 0px 12px 3px #f4f1f1a1;
}

.contexte_carte {  
	background-image: var(--carte_contexte);
}

.rituel_carte {  
	background-image: var(--carte_rituel);
}

.loyaute_carte {  
	background-image: var(--carte_loyaute);
}

.carte_select {
    grid-column: 1;
    grid-row: 9;
    flex-wrap: wrap;
    display: flex !important;
    align-content: center;
    justify-content: center;
    margin-top: 67px;
    margin-left: 10px;
}

.carte_select_loyaute {
    grid-column: 1;
    grid-row: 13;
    flex-wrap: wrap;
    display: flex !important;
    align-content: center;
    justify-content: center;
    margin-top: 38px;
}

/* Roll template */
.sheet-rolltemplate-xcard {
    margin-left: 20px;
    padding-top: 15px;
}

.sheet-rolltemplate-xcard .sheet-container {
    border: 2px solid;
    border-color: var(--header-bg-color);
    width: 220px;
    height: 377px;
    box-shadow: 3px 3px 7px 0px #000000db;
 }

 .sheet-rolltemplate-xcard .sheet-container {
    --header-bg-color: rgb(0, 0, 0);
    --header-text-color: #FFF;
}

.sheet-rolltemplate-xcard .sheet-content-xcard {
    width: 225px;
    height: 377px;
    border-radius: 0px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/main/FTS%20-%20Rituels/images/rituel_xcard.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sheet-rolltemplate-xcard .sheet-content-loyaute {
    width: 225px;
    height: 377px;
    border-radius: 0px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituel_loyaute.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sheet-rolltemplate-xcard .sheet-content-trahir {
    width: 225px;
    height: 377px;
    border-radius: 0px;
    background-image: url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituel_trahison.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Systeme de carte dynamique */

/* CONTEXTE */

.charsheet .choix_carte_contexte[value="0"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_BACK.webp);
}

.charsheet .choix_carte_contexte[value="1"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_1.webp);
}

.charsheet .choix_carte_contexte[value="2"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_2.webp);
}

.charsheet .choix_carte_contexte[value="3"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_3.webp);
}

.charsheet .choix_carte_contexte[value="4"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_4.webp);
}

.charsheet .choix_carte_contexte[value="5"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_5.webp);
}

.charsheet .choix_carte_contexte[value="6"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_6.webp);
}

.charsheet .choix_carte_contexte[value="7"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_7.webp);
}

.charsheet .choix_carte_contexte[value="8"] ~ *{
    --carte_contexte : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/contextes_8.webp);
}

/* RITUEL */

.charsheet .choix_carte_rituel[value="0"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_BACK.webp);
}

.charsheet .choix_carte_rituel[value="1"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_1.webp);
}

.charsheet .choix_carte_rituel[value="2"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_2.webp);
}

.charsheet .choix_carte_rituel[value="3"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_3.webp);
}

.charsheet .choix_carte_rituel[value="4"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_4.webp);
}

.charsheet .choix_carte_rituel[value="5"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_5.webp);
}

.charsheet .choix_carte_rituel[value="6"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_6.webp);
}

.charsheet .choix_carte_rituel[value="7"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_7.webp);
}

.charsheet .choix_carte_rituel[value="8"] ~ *{
    --carte_rituel : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituels_8.webp);
}

/* LOYAUTE */

.charsheet .choix_carte_loyaute[value="0"] ~ *{
    --carte_loyaute : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/choix_BACK.webp);
}

.charsheet .choix_carte_loyaute[value="1"] ~ *{
    --carte_loyaute : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituel_loyaute1.webp);
}

.charsheet .choix_carte_loyaute[value="2"] ~ *{
    --carte_loyaute : url(https://raw.githubusercontent.com/ctotone/JdR/refs/heads/main/FTS%20-%20Rituels/images/rituel_trahison1.webp);
}